<footer id="footer-block">
    <div class="blue-layer"></div>
    <div class="general-container footer-img">
        <section class="first-info-container-footer">
            <div class="row row-info-footer">
                <div class="col-sm-12 col-md-3 col-lg-6 col-xl-6 locations" >
                    <app-footer-block class="locations-container"></app-footer-block>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 newsletters">
                    <app-footer-newsletter></app-footer-newsletter>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 contact">
                    <app-footer-contact></app-footer-contact>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 iconbits">
                    <app-footer-brand></app-footer-brand>
                </div>
            </div>
        </section>
        <section class="second-info-container-footer">
            <div class="second-blue-layer"></div>
            <div class="row row-info-footer">
                <div class="col-12 list-of-footer">
                    <a class="items-footer" href="#">politicas</a>
                    <div class="circule"></div>
                    <a class="items-footer" href="#">Mapa del sitio</a>
                    <div class="circule"></div>
                    <a class="items-footer" href="#">PQRS</a>
                </div>
            </div>
        </section>
    </div>
</footer>