<footer>
    <picture>
        <source media="(max-width:500px)" srcset="../../../../assets/images/footermovil.png">
        <img class="w-100" src="../../../../assets/images/footer.png" alt="Footer">
    </picture>
    <section class="container-elements" id="container-elements">
        <section class="location">
            <div class="row">
                <div class="col-lg">
                    <h6>BOGOTA, CO</h6>
                    <ul>
                        <li>Cll 106A #54-27</li>
                        <li>+57(1)484 62 20</li>
                        <li class="office"><a href="#">Ver todas nuestras oficinas</a></li>
                    </ul>
                </div>
                <div class="col-lg site random">
                    <h6>MIAMI, Fl.33145</h6>
                    <ul class="addres-phone">
                        <li class="addres">2280 SW 52nd AV#614</li>
                        <li>+57(2)789 7900</li>
                    </ul>
                </div>
            </div>
            <hr>
        </section>
        <section class="newsletter">
            <div class="row">
                <div class="col-lg-12">
                    <h6>NEWSLETTER</h6>
                    <ul>
                        <li>Reciba nuestras ultimas noticias</li>
                    </ul>
                </div>
            </div>
            <hr>
        </section>
        <section class="contac">
            <div class="row">
                <div class="col-lg-12">
                    <h6>CONTACTENOS</h6>
                    <ul class="fa-ul mail">
                        <li><a href="#"><i class="fa-li fas fa-envelope"></i>info@bitsamericas.com</a></li>
                    </ul>
                    <div class="icon-social">
                        <ul class="row first fa-ul">
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter icon"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f icon"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        <section class="logo">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../../../../assets/images/Logowhite.png" alt="BitsAmericas">
                    <h6>© 2016 BITS Americas SAS.</h6>
                </div>
            </div>
        </section>
    </section>
    <section class="privacy">
        <div class="row">
            <div class="col-lg-12">
                <div class="politics-site">
                    <a href="#" class="politics">Politica de Privacidad</a>
                    <a href="#" class="sites">Mapa del Sitio</a>
                    <a href="#">PQRS</a>
                </div>
            </div>
        </div>
    </section>
</footer>