<div class="conteiner-1">
    <div class="conteiner-2">
        <div class="div-left-side"></div>
        <div class="divIconSeparator">
            <label>{{title}}</label>
        </div>
        <div class="div-right-side"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="items" *ngIf="datos[0] != undefined ||datos[1] != undefined">
            <label for="client">{{datos[0]?.data.client}}</label>
            <ng-select #clientF class="select-autocomplete" id="client" name="client" [placeholder]="datos[1].data.client_placeholder"
                [allowClear]="true" [items]="listClient" [disabled]="disabled" (data)="refreshValueClient($event)"
                (selected)="selectedClient($event)" (removed)="removedClient($event)" (typed)="typedClient($event)">
            </ng-select>
            <input type="text" class="ocultar" id="client" name="client" [ngModel]="clientSelected">
        </div>
        <div class="items" *ngIf="datos[2] != undefined ||datos[3] != undefined">
            <label for="sector">{{datos[2].data.sector}}</label>
            <ng-select #sectorF class="select-autocomplete" id="sector" name="sector" [placeholder]="datos[3].data.sector_placeholder"
                [allowClear]="true" [items]="listSector" [disabled]="disabled" (data)="refreshValueSector($event)"
                (selected)="selectedSector($event)" (removed)="removedSector($event)" (typed)="typedSector($event)">
            </ng-select>
            <input type="text" class="ocultar" id="sector" name="sector" [ngModel]="sectorSelected">
        </div>
        <div class="items" *ngIf="datos[4] != undefined ||datos[5] != undefined">
            <label for="tecnology">{{datos[4].data.tecnology}}</label>
            <ng-select #tecnologyF class="select-autocomplete" id="category" name="category" [placeholder]="datos[5].data.tecnology_placeholder"
                [allowClear]="true" [items]="listTecnology" [disabled]="disabled" (data)="refreshValueTecnology($event)"
                (selected)="selectedTecnology($event)" (removed)="removedTecnology($event)" (typed)="typedTecnology($event)">
            </ng-select>
            <input type="text" class="ocultar" id="tecnology" name="tecnology" [ngModel]="tecnologySelected">
        </div>
        <div class="items" *ngIf="datos[6] != undefined || datos[7] != undefined">
            <label for="theme">{{datos[6].data.theme}}</label>
            <ng-select #themeF class="select-autocomplete" id="theme" name="theme" [placeholder]="datos[7].data.theme_placeholder"
                [allowClear]="true" [items]="listTheme" [disabled]="disabled" (data)="refreshValueTheme($event)"
                (selected)="selectedTheme($event)" (removed)="removedTheme($event)" (typed)="typedTheme($event)">
            </ng-select>
            <input type="text" class="ocultar" id="theme" name="theme" [ngModel]="themeSelected">
        </div>
        <div class="items button-all" *ngIf="datos[8] != undefined"><i ngClass="icon-actu"></i><label class="margin-button">{{datos[8].data.button}}</label>
        </div>
    </div>
</div>