<div class="grid" (window:resize)="onResize()">
  <div class="item box-{{i}}" *ngFor="let gridBox of gridInfo; let i = index; let $last = last" [isLast]='$last'
    (appOrganizeGridMuuri)="organizeGrid()" (mouseover)=showDescription($event,i)
    (mouseleave)=showDescription($event,i)>
    <div class="dark-layout"></div>
    <div class="item-content" [ngStyle]="{'background-image':'url(' + gridBox.field_background_image.url + ')'}"></div>
    <div class="info-content info-{{i}}">
      <div class="logo-client" [ngStyle]="{'background-image':'url(' + gridBox.field_image.url + ')'}"></div>
      <h1 class="text-grid">{{gridBox.title}}</h1>
      <p class="description">{{gridBox.field_subtitle}}</p>
    </div>
    <div class="complete-info-grid hover-info-{{i}}">
      <h1 class="text-grid">{{gridBox.title}}</h1>
      <p class="description">{{gridBox.field_subtitle}}</p>
      <a [routerLink]="[gridBox.type, gridBox.nid]" href="#" class="plus-icon"></a>
    </div>
  </div>
</div>