.vscode/
.DS_Store
# .gitignore
angular/dist/appBits
angular/node_modules/
angular/package.json
angular/package-lock.json
drupal/.DS_Store
drupal/sites/.DS_Store
drupal/sites/default/.DS_Store
drupal/sites/default/files/
drupal/sites/default/settings.php
estandares_drupal.txt
estandares_drupalPractice.txt
drupal/sites/default/services.yml
drupal/.idea/
drupal/.history