@import './src/assets/scss/mixin.scss';

.content-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img-fluid {
        width: 200px;
        height: 140px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 10px 20px;

        @media (max-width: 500px) {
            width: 100px;
            height: 90px;
        }

    }
}