h3.condensed {
    font-size: 22px;
    margin-top: 20px;
    color: #002b49;
    font-family: 'Open Sans Codensed', 'sans-serif';
}

p {
    font-size: 14px;
    color: #002b49;
    opacity: 0.6;
    width: 71%;
    display: block;
    margin: 0 auto;
}