<app-banner [titulo]="type" [imgFondo]=""></app-banner>
<div class="my-5">
    <div class="container">
        <app-client-project-imedical (propagar)="onMenu($event)"></app-client-project-imedical>
    </div>
    <hr>
    <app-menu-template [menuList]="listMenu"></app-menu-template>
    <app-slider></app-slider>
    <div class="container">
        <app-separator [iconCustom]="'icon-engranaje'" *ngIf="visible"></app-separator>
        <div class="row" *ngIf="visible">
            <div class="col-md-12 mb-5" id="principal">
                <h1 class="title-principal">{{ tituloModulos }}</h1>
                <p class="descrip-principal" [innerHTML]="descripcionModulos"></p>
            </div>
            <div class="col-md-4" *ngFor="let blurbItem of blurbArray">
                <app-blurb [blurb]="blurbItem" (propagar)="onMenu($event)" [type]="type"></app-blurb>
            </div>
        </div>
        <app-card-img-text [orientacion]="'IT'" (propagar)="onMenu($event)" [type]="type"></app-card-img-text>
        <app-tecnologies-projectservice (propagar)="onMenu($event)" [type]="type"></app-tecnologies-projectservice>
        <app-testimonies (propagar)="onMenu($event)"></app-testimonies>
        <app-achievements (propagar)="onMenu($event)" [type]="type"></app-achievements>
    </div>
    <app-screenshots (propagar)="onMenu($event)" [type]="type"></app-screenshots>
    <div class="container">
        <app-team (propagar)="onMenu($event)" [type]="type"></app-team>
        <app-card-img-text [orientacion]="'TI'" (propagar)="onMenu($event)" [type]="type"></app-card-img-text>
        <app-client-proserv (propagar)="onMenu($event)" [type]="type"></app-client-proserv>
        <app-video-information [link]="'www.eliseupnorcum.cedu.co'" (propagar)="onMenu($event)" [type]="type">
        </app-video-information>
    </div>
    <app-our-work (propagar)="onMenu($event)" [type]="type"></app-our-work>
    <app-workwithus (propagar)="onMenu($event)" [type]="type"></app-workwithus>
</div>