<app-banner [titulo]="type" imgFondo="/assets/images/imedicalweb.png"></app-banner>
<div class="my-5">
    <div class="container">
        <app-client-project-imedical (propagar)="onMenu($event)"></app-client-project-imedical>
    </div>
    <hr>
    <app-menu-template [menuList]="listMenu"></app-menu-template>
    <app-slider></app-slider>
    <div class="container">
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <div class="row">
            <div class="col-md-12 mb-5">
                <h1 class="condensed text-center">{{ tituloModulos }}</h1>
                <p class="text-center" [innerHTML]="descripcionModulos"></p>
            </div>
            <div class="col-md-4" *ngFor="let blurbItem of blurbArray">
                <app-blurb [blurb]="blurbItem" (propagar)="onMenu($event)" [type]="type"></app-blurb>
            </div>
        </div>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-card-img-text [orientacion]="'IT'" (propagar)="onMenu($event)" [type]="type"></app-card-img-text>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-tecnologies-projectservice (propagar)="onMenu($event)" [type]="type"></app-tecnologies-projectservice>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-testimonies (propagar)="onMenu($event)"></app-testimonies>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>        
        <app-achievements (propagar)="onMenu($event)" [type]="type"></app-achievements>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <!-- <app-tecnologies (propagar)="onMenu($event)"></app-tecnologies>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator> -->
        <app-team (propagar)="onMenu($event)" [type]="type"></app-team>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-card-img-text [orientacion]="'TI'" (propagar)="onMenu($event)" [type]="type"></app-card-img-text>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-client-proserv (propagar)="onMenu($event)" [type]="type"></app-client-proserv>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
        <app-video-information [link]="'www.eliseupnorcum.cedu.co'" (propagar)="onMenu($event)" [type]="type"></app-video-information>
        <app-separator [iconCustom]="'icon-historymedical'"></app-separator>
    </div>
    <app-workwithus (propagar)="onMenu($event)" [type]="type"></app-workwithus>
</div>