<ng-container>
  <section id="footer-block-contact">
    <div class="row row-contact-block-footer">
      <div class="col-lg-12 col-contact-footer">
        <div class="container-info-contact">
          <h6 class="title-contact"> {{ contactTitle.title }} </h6>
          <div class="other-contact-info">
            <li class="li-contact-footer-mail">
              <ng-container *ngIf="contactMailLink.external then externo else interno">
              </ng-container>
              <ng-template #externo>
                <a class="link-mail" href="{{ contactMailLink.link }}">
                  <i class="fas fa-envelope"></i>
                  <p> {{ contactMailLink.label }} </p>
                </a>
              </ng-template>
              <ng-template #interno>
                <a class="link-mail" [routerLink]="contactMailLink.link">
                  <i class="fas fa-envelope"></i>
                  <p> {{ contactMailLink.label }} </p>
                </a>
              </ng-template>
            </li>
            <li class="li-contact-footer-icons" *ngFor="let socialIcon of contactSocialArray;" [ngClass]="{'d-none': socialIcon.data.url ==''}">
              <a class="link-icons" href="{{ socialIcon.data.url }}">
                <i class="{{ socialIcon.data.text }} size-of-icons"></i>
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>