#title-description {
  text-align: center;
  height: 100%;

  .title-block-location {
    font-family: Open Sans Codensed;
    font-size: 30px;
    display: block;
    padding-top: 20px;
  }
  .description-block-location {
    font-family: Open Sans light;
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0 50px 40px 50px;
  }
}
:host /deep/ .card{
  border-radius: 0;
}
:host /deep/ .card-header,
:host /deep/ .card-body {
  padding: 0;
}
:host /deep/ .btn.btn-link {
  width: 100%;
  height: 121px;
  background: #d9dfe4;
  text-decoration: none;
  border-radius: 0;

  .container.location-block {
    .row.location-button {
      .info-icon {
        .fas.fa-sort-down {
          transition: 1s ease all;
        }
      }
    }
  }

  &.collapsed {
    background: #f2f4f6;
    .container.location-block {
      .row.location-button {
        .info-icon {
          .fas.fa-sort-down {
            transform: rotate(-180deg);
            transition: 1s ease all;
          }
        }
      }
    }  
  }
}
#accordion-section-mobile {
  cursor: pointer;
  padding: 0;

  .location-block.container {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #002b49;
  }
  .row.location-button {
    width: 100%;
    max-width: 100%;
    .info-location {
      padding: 0 0 0 25px;
      width: 360px;
    }
    .info-icon {
      padding: 18px 0 0 32px;
    }
  }
  .location-li {
    text-align: left;
    display: block;
  }
  .location-li.title {
    font-family: Open Sans Codensed;
    font-size: 17px;
  }
  .location-li.title:hover {
    text-decoration: none;
  }
  .address-block,
  .telephone-block {
    text-align: left;
    display: block;
    font-family: Open Sans;
    font-size: 13px;
    color: rgba(0, 43, 73, 0.7);

    .fas {
      margin-right: 10px;
      margin-left: 5px;
    }
    .fa-phone {
      transform: rotate(90deg);
    }
  }
  .location-li.address,
  .location-li.telephone {
    display: inline-block;
  }

  #mapa {
    .info-window-location {
      color: #002b49;
      font-family: Open Sans Codensed;
      font-size: 10px;
      &.address {
        margin: 0;
      }
    }
  }
}

#accordion-section-desktop {
  cursor: pointer;
  padding: 0;
  
  .general-box-location{
    height: 520px;
    border: 1px solid rgb(238, 238, 238);
    margin: 0;

    .row.location-button {
      .button-0 {
        background-color: #d9dfe4; 
      }
    }

  }
  .buttons-location-desktop {
    position: relative;
    color: #f2f4f6;
    padding: 0;
    margin: 0;
    .control-button {
      position: absolute;
      right: 20px;
      z-index: 1;

      .arrow-up {
        margin: 20px 0 385px 0;
        .fa-chevron-circle-up {
          color: #c0c9d1;
        }
      }
      .arrow-down {
        margin: 0;
        .fa-chevron-circle-down {
          color: #c0c9d1;
        }
      }
    }
  }
  .row.location-button {
    width: 100%;
    height: auto;
    max-height: 520px;
    overflow-y: hidden;
    scroll-behavior: smooth; 
    padding: 0;
    margin: 0;

    .info-location {
      background-color: #f2f4f6; 
      padding: 30px 10px 30px 70px;
      height: 130px;
      border-bottom: 1px solid rgb(202, 202, 202);
    }
    .info-icon {
      padding: 18px 0 0 32px;
    }
  }
  .location-li {
    text-align: left;
    display: block;
  }
  .location-li.title {
    font-family: Open Sans;
    font-size: 18px;
    color: #002b49;
  }
  .location-li.title:hover {
    text-decoration: none;
  }
  .address-block,
  .telephone-block {
    text-align: left;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    color: rgba(0, 43, 73, 0.7);

    .fas {
      margin-right: 10px;
      margin-left: 5px;
    }
    .fa-phone {
      transform: rotate(90deg);
    }
  }
  .location-li.address,
  .location-li.telephone {
    display: inline-block;
  }
  .map-location-desktop {
    padding: 0;
    .info-window-location {
      color: #002b49;
      font-family: Open Sans Codensed;
      font-size: 18px;
      &.address {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #title-description {
    .title-block-location {
      font-family: Open Sans Codensed;
      font-size: 40px;
      color: rgba(0, 43, 73, 0.8);
    }
    .description-block-location {
      font-family: Open Sans light;
      font-size: 20px;
      color: #002b49;
    }
  }
  #accordion-section {
    .row.location-button {
      margin: 0;
    }
  }
  :host /deep/ .agm-info-window-content {
    height: 46px;
  }
}