@import './src/assets/scss/mixin.scss';
#Carousel-4items {
    margin-top: 4%;
    @include breakpoint(desktop) {
        margin-top: 2%;
    }
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        transition: transform .9s ease, -webkit-transform .9s ease;
        @include breakpoint (tablet) {
            display: flex;
        }
        @include breakpoint (desktop) {
            display: flex;
            transition: transform .6s ease, -webkit-transform .6s ease;
        }
    }
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        @include breakpoint (desktop) {
            transform: translateX(25%);
        }
        @include breakpoint (tablet) {
            transform: translateX(25%);
        }
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        @include breakpoint (desktop) {
            transform: translateX(-25%);
        }
        @include breakpoint (tablet) {
            transform: translateX(-25%);
        }
    }
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        @include breakpoint (desktop) {
            transform: translateX(0);
        }
        @include breakpoint (tablet) {
            transform: translateX(0);
        }
    }
    .carousel-inner {
        height: 180px;
        align-items: center;
        @include breakpoint (tablet) {
            height: initial;
            width: 68%;
            left: initial;
        }
        @include breakpoint (desktop) {
            height: initial;
            width: 63%;
            left: initial;
        }
        .carousel-item {
            margin-top: 6px;
            @include breakpoint (desktop) {
                left: 0%;
            }
            .url-carousel {
                width: 132px;
                @include breakpoint (tablet) {
                    width: 285px;
                }
                @include breakpoint (desktop) {
                    width: 208px;
                    text-decoration: none;
                    &:hover {
                        .container-img {
                            transform: translateY(-122%);
                        }
                        .info-carousel {
                            transform: translateY(-110%);
                        }
                    }
                }
                .container-img {
                    width: 33%;
                    height: 66px;
                    position: relative;
                    display: -webkit-inline-box;
                    margin-left: 11%;
                    margin-right: auto;
                    margin-top: 5%;
                    display: inline-table;
                    max-width: 100%;
                    align-items: center;
                    @include breakpoint(desktop) {
                        height: 223px;
                        width: 100%;
                        margin-bottom: 14%;
                        padding-top: 39%;
                        padding-left: 20px;
                        padding-right: 20px;
                        width: 69.5%;
                        transition: all ease 0.8s;
                    }
                    @include breakpoint(tablet) {
                        width: 100%;
                        height: 100px;
                        margin-left: 0;
                    }
                    .img-fluid {
                        height: 100%;
                        width: 100%;
                    }
                }
                .info-carousel {
                    display: none;
                    @include breakpoint (desktop) {
                        position: absolute;
                        display: block;
                        width: 22%;
                        height: 222px;
                        transition: all ease 0.8s;
                        &::before {
                            content: '';
                            background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #005892, rgba(255, 255, 255, 0));
                            display: block;
                            position: absolute;
                            height: 1px;
                            width: 100%;
                        }
                        &::after {
                            content: '';
                            background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #005892, rgba(255, 255, 255, 0));
                            display: block;
                            position: absolute;
                            top: 100%;
                            height: 1px;
                            width: 100%;
                        }
                    }
                    .title {
                        text-align: center;
                        text-transform: uppercase;
                        width: 100%;
                        padding-top: 12%;
                        font-size: 24px;
                        color: #acd233;
                        padding-left: 16%;
                        padding-right: 18%;
                        font-family: 'Open Sans Condensed';
                        font-weight: 300;
                    }
                    .text-description {
                        text-align: center;
                        width: 100%;
                        padding-top: 2%;
                        font-size: 14px;
                        color: #002b49;
                        font-family: 'Open Sans';
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .icon-left {
        position: relative;
        top: 5%;
        background-image: url(../../../../assets/icon/left-arrow.svg);
        background-size: 37px;
        height: 27px;
        width: 24px;
        @include breakpoint (tablet) {
            left: 37%;
        }
        @include breakpoint (desktop) {
            height: 34px;
            left: 160px;
        }
    }
    .icon-right {
        position: relative;
        top: 5%;
        background-image: url(../../../../assets/icon/right-arrow.svg);
        background-size: 37px;
        height: 27px;
        width: 24px;
        @include breakpoint (tablet) {
            right: 40%;
        }
        @include breakpoint (desktop) {
            height: 34px;
            right: 160px;
        }
    }
}

#main-title {
    color: #002b49;
    text-align: center;
    margin-top: 64px;
    @include breakpoint(desktop) {
        margin-top: 80px;
    }
    @include breakpoint(tablet) {
        margin-top: 80px;
    }
    h2 {
        margin-left: 3%;
        font-size: 30px;
        transform: scaleY(1.2);
        @include breakpoint(desktop) {
            margin-left: 0;
            font-size: 40px;
            width: 100%;
        }
        @include breakpoint(tablet) {
            margin-left: 0;
            font-size: 40px;
            width: 100%;
        }
    }
}

#titles {
    color: #002b49;
    text-align: center;
    margin-top: 60px;
    @include breakpoint(desktop) {
        margin-top: 80px;
    }
    @include breakpoint(tablet) {
        margin-top: 80px;
    }
    h3 {
        margin-left: 3%;
        font-size: 16px;
        @include breakpoint(desktop) {
            margin-left: 0;
            font-size: 20px;
            width: 100%;
        }
        @include breakpoint(tablet) {
            margin-left: 0;
            font-size: 20px;
            width: 100%;
        }
    }
}