<section id="main-title">
    <h2>{{ titleClients?.titulo }}</h2>
</section>

<section id="Carousel-4items">
    <div class="container text-center my-3">
        <div id="recipeCarousel" class="carousel carousel-run slide" data-ride="carousel">
            <div class="carousel-inner row mx-auto my-auto" role="listbox">
                <ng-container *ngFor="let ourC of clients; let i = index">
                    <div class="carousel-item" [ngClass]="{'active': i === 0}">
                        <a href="#" class="url-carousel">
                            <div class="container-img col-md-3 ">
                                <img class="d-block img-fluid    img-float  mx-auto" src="{{ ourC.field_image }}" alt="">
                            </div>
                            <div class="info-carousel">
                                <h3 class="title">{{ ourC.title }}</h3>
                                <p class="text-description">{{ ourC.field_description }}</p>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icon-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icon-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>