<div *ngIf="visible">
  <div [id]="datosMenu.id"></div>  
  <app-separator [iconCustom]="'icon-startproject'" *ngIf="flagUbication != 'home'"></app-separator>
  <section id="main-title">
      <h2>{{ titleClients }}</h2>
  </section>

  <div class="contenedor" [ngClass]="{'three-items': threeItems, 'two-items': twoItems, 'one-items': oneItems }" >
      <ngx-carousel [inputs]="carocarouselTile">
          <ngx-tile NgxCarouselItem *ngFor="let ourC of clientsDesktop; let i = index">
              <a href="#" class="url-carousel" >
                  <div class="container-img col-md-3 ">
                      <img class="d-block img-fluid img-float  mx-auto" src="{{ ourC.field_image?.url }}" alt="{{ ourC.field_image?.alt }}">
                  </div>
                  <div class="info-carousel">
                      <h3 class="title">{{ ourC.title }}</h3>
                      <p class="text-description">{{ ourC.field_description }}</p>
                  </div>
              </a>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
  </div>
  <div class="contenedor-mobile" >
      <!-- (window:resize)="onResize(screen)" -->
      <ngx-carousel [inputs]="carocarouselTile">
          <ngx-tile NgxCarouselItem *ngFor="let items of arrayBox; let i = index">
              <div class="image-client-carousel-mobile" *ngFor="let icons of items" [ngStyle]="{'background-image':'url(' + icons?.field_image?.url + ')'}"></div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
  </div>
</div>
