<section id="carousel-container">
    <ngb-carousel *ngIf="carousel.length > 0" (window:resize)="onResize()" (interval)="1000">
        <ng-template class="prueba" ngbSlide *ngFor="let item of carousel">
             <picture>
                <source media="(max-width: 800px)" srcset="{{item.field_image.slider_principal_phone?.url}}">
                <source media="(max-width: 1024px)" srcset="{{item.field_image.slider_principal_tablet?.url}}">
                <source media="(max-width: 1280px)" srcset="{{item.field_image.slider_principal_desktop_sxga?.url}} ">
                <source media="(max-width: 1360px)" srcset="{{item.field_image.slider_prueba?.url}}">
                <source media="(max-width: 1920px)" srcset="{{item.field_image.slider_principal_desktop_fhd?.url}}">
                <img class="carousel-main-image" [src]="item.field_image.slider_principal_desktop_fhd?.url" alt="Random first slide" [ngStyle]="{'height': height}">
            </picture> 
            <!--<img class="carousel-main-image" [src]="item.field_image.slider_prueba?.url" alt="Random first slide"
                [ngStyle]="{'height': height}" srcset="{{item.field_image.slider_principal_phone.url}} 800w,
                        {{item.field_image.slider_principal_tablet.url}} 1024w,
                        {{item.field_image.slider_principal_desktop_sxga.url}} 1280w,
                        {{item.field_image.slider_prueba.url}} 1360w,
                        {{item.field_image.slider_principal_desktop_fhd.url}} 1920w" sizes="100vw">-->
            <div class="carousel-caption">
                <h3 class="carousel-title">{{ item.title }}</h3>
                <p class="carousel-subtitle">{{ item.field_subtitle }}</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="col section-button-explorar" (click)="slideDown()">
        <div class="row button-explorar">
            <h6 class="anchor">{{headerCarrusel}}</h6>
        </div>
        <div class="row button-explorar">
            <img class="down-arrow-slider" src="../assets/images/DownArrow.svg" alt="DownArrow">
        </div>
    </div>
</section>