<!-- <section class="Slider">
    <div id="carouselExampleIndicators" class="carousel slide carousel-slider" data-ride="carousel">
        <ol class="carousel-indicators slider-botton">
            <li *ngFor="let car of carouselArray; let i= index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" class="circle-botton"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active window-complete">
                <picture>
                    <source srcset="assets/images/movil.jpg" media="(max-width:{{medius}})">
                    <img class="d-block w-100" [src]="carouselArray[1]?.field_image" alt="bits">
                    <div class="carousel-caption  d-md-block text-slider">
                        <h1 class="title-slider"> {{carouselArray[1]?.title}} </h1>
                        <p class="description-slider">{{carouselArray[1]?.field_tags}}</p>
                    </div>
                </picture>
            </div>
            <app-carousel-item></app-carousel-item>
        </div>
        <a class="down-main" (click)="down()">
            <div class="arrow-down"></div>
        </a>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icon-mobile icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon  icon-mobile icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <a class="anchor"></a>
</section> -->
<section id="carousel-container">
    <ngb-carousel *ngIf="carousel" (window:resize)="onResize()">
        <ng-template class="prueba" ngbSlide *ngFor="let item of carousel">
            <img class="carousel-main-image" [src]="item.field_image" alt="Random first slide" [ngStyle]="{'height': height}">
            <div class="carousel-caption">
            <h3 class="carousel-title">{{ item.title }}</h3>
            <p class="carousel-subtitle">{{ item.field_tags }}</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="col section-button-explorar" (click)="slideDown()">       
        <div class="row button-explorar">
            <h6 class="anchor">EXPLORAR</h6>
        </div>
        <div class="row button-explorar">
            <i class="fas fa-angle-down"></i>
        </div>
    </div>
</section>
<!--<a>Anchor</a>-->