<section class="Slider">
    <div id="carouselExampleIndicators" class="carousel slide carousel-slider" data-ride="carousel">
        <ol class="carousel-indicators slider-botton">
            <li *ngFor="let car of carouselArray; let i= index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" class="circle-botton"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active window-complete">
                <picture>
                    <source media="(max-width:500px)" srcset="assets/images/movil.jpg">
                    <img class="d-block w-100" src="assets/images/Banner inicio.jpg" alt="bits">
                    <div class="carousel-caption  d-md-block text-slider">
                        <h1 class="title-slider"> {{carouselArray[1]?.title}} </h1>
                        <p class="description-slider">{{carouselArray[1]?.field_tags}}</p>
                    </div>
                </picture>
            </div>
            <app-carousel-item></app-carousel-item>

        </div>
        <a class="down-main" (click)="down()">
            <div class="arrow-down"></div>
        </a>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icon-mobile icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon  icon-mobile icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>