h1,
p {
    font-family: 'Open Sans light';
}

p {
    font-size: 14px;
}

hr {
    border-top: 2px solid #a6cf2482;
}

a {
    color: #a6cf24;
    font-family: 'Open Sans Codensed';
    font-size: 20px;
}

iframe {
    height: 100%;
}