<section id="work-with-us">
  <h2 class="info-title">{{ workWithUsTitle.title }} </h2>
  <p class="subtitle"> {{ workWithUsSubtitle.subtitle }}</p>
  <ng-container *ngIf="linkExternal then externo else interno">
  </ng-container>
  <ng-template #externo>
    <a class="btn btn-primary" href="{{url}}"> {{ workWithUsButton.title_bottom }} </a>
  </ng-template>
  <ng-template #interno>
    <a class="btn btn-primary" [routerLink]="url+'/work-us'">
      {{ workWithUsButton.title_bottom }}
    </a>
  </ng-template>
  <hr>
  <p class="text1">{{workWithUsAdicional.additional_text}}</p>
  <div [innerHTML]=workWithUsThirdText class="text2" x-ms-format-detection="none"></div>
</section>