<app-banner imgFondo="" uuid="ae5fe7b0-3448-4cf2-8d47-d1d8f6c534ba"></app-banner>
<div class="container">
	<div class="row">
		<section id="principal">
			<h2 class="title-principal">{{ titlePrincipal }}</h2>
			<p class="descrip-principal"> {{ descripPrincipal }}</p>
		</section>
		<form id="formulario_contacto" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" class="col-md-12"
			name="formulario_contacto">
			<app-message [dataMessage]="dataMessage"></app-message>
			<ng-template #valid>
				<div class="alert alert-danger" role="alert">
					Campo obligatorio o invalido
				</div>
			</ng-template>
			<div class="col-md-12 form-group">
				<!-- elementoForm: array de campos que conforman el formulario-->
				<ng-container *ngFor="let item of elementoForm">
					<!-- *ngIf="item[0]": validacion para mostrar los elementos del formulario que pertenecen a layout-->
					<ng-container *ngIf="item[0]">
						<div class="col-md-6 item" *ngFor="let elementLayout of item">
							<!-- Campos textfiel o tel. No incluye los select: pais, servicios de interes y productos de interes-->
							<div
								*ngIf="(elementLayout['#type'] == 'textfield' || elementLayout['#type'] == 'tel') && elementLayout['#webform_key'] != 'pais' && elementLayout['#webform_key'] != 'tipo_solicitante'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout["#title"]}}
									<span *ngIf="elementLayout['#required'] ==  true">*</span></label>
								<input type="{{elementLayout['#type']}}" class="form-control"
									id="{{'pqrs__' + elementLayout['#webform_key']}}"
									placeholder="{{elementLayout['#placeholder']}}"
									name="{{elementLayout['#webform_key']}}" (click)="mostrarDatos($event)"
									(mouseleave)="ocultarDatos($event)"
									required="{{elementLayout['#required'] ==  true}}"
									(mouseover)="mostrarDatos($event)" maxlength="{{elementLayout['#maxlength']}}"
									#textfield="ngModel" ngModel>
								<ng-container *ngIf="(textfield.invalid && textfield.touched) then valid">
								</ng-container>
							</div>
							<!-- Campos email-->
							<div *ngIf="elementLayout['#type'] == 'email'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout["#title"]}}<span
										*ngIf="elementLayout['#required'] ==  true">*</span></label>
								<input type="{{elementLayout['#type']}}" class="form-control"
									id="{{'pqrs__' +elementLayout['#webform_key']}}"
									placeholder="{{elementLayout['#placeholder']}}"
									name="{{elementLayout['#webform_key']}}" maxlength="{{elementLayout['#maxlength']}}"
									#email="ngModel" required="{{elementLayout['#required'] ==  true}}"
									(click)="mostrarDatos($event)" (mouseleave)="ocultarDatos($event)"
									(mouseover)="mostrarDatos($event)"
									pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
									ngModel>
								<ng-container *ngIf="(email.invalid && email.touched) then valid">
								</ng-container>
							</div>
							<!-- Campos textarea-->
							<div *ngIf="elementLayout['#type'] == 'textarea'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout["#title"]}}<span
										*ngIf="elementLayout['#required'] ==  true">*</span></label>
								<textarea class="form-control" id="{{'pqrs__' +elementLayout['#webform_key']}}"
									placeholder="{{elementLayout['#placeholder']}}"
									name="{{elementLayout['#webform_key']}}" (click)="mostrarDatos($event)"
									(mouseleave)="ocultarDatos($event)" (mouseover)="mostrarDatos($event)"
									required="{{elementLayout['#required'] ==  true}}"
									maxlength="{{elementLayout['#maxlength']}}" #textarea="ngModel" ngModel></textarea>
								<ng-container *ngIf="(textarea.invalid && textarea.touched) then valid">
								</ng-container>
							</div>
							<!-- Campo select pais, se debe mantener el nombre para que funcione el componente-->
							<div *ngIf="elementLayout['#webform_key'] == 'pais'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout['#title']}}<span
										*ngIf="elementLayout['#required'] ==  true">*</span></label>
								<ng-select #paisPQ class="select-autocomplete"
									id="{{'pqrs__' +elementLayout['#webform_key']}}" name="pais" [allowClear]="true"
									[items]="listPais" [disabled]="disabled" (data)="refreshValuePais($event)"
									(selected)="selectedPais($event)" (removed)="removedPais($event)"
									(typed)="typedPais($event)">
								</ng-select>
								<input type="text" autocomplete="off" class="form-control ocultar" id="{{elementLayout['#webform_key']}}"
									name="{{elementLayout['#webform_key']}}" [ngModel]="pais">
							</div>
							<!-- Campo select departamento o estado, se debe mantener el nombre para que funcione el componente-->
							<div *ngIf="elementLayout['#webform_key'] == 'tipo_solicitante'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout['#title']}}<span
										*ngIf="elementLayout['#required'] ==  true">*</span></label>
								<ng-select #departPQ class="select-autocomplete"
									id="{{'pqrs__' +elementLayout['#webform_key']}}" name="tipo_solicitante"
									placeholder="{{elementLayout['#placeholder']}}" [allowClear]="true"
									[items]="listTipo" [disabled]="disabled" (data)="refreshValueTipo($event)"
									(selected)="selectedTipo($event)" (removed)="removedTipo($event)"
									(typed)="typedTipo($event)">
								</ng-select>
								<input type="text" autocomplete="off" class="form-control ocultar" id="{{elementLayout['#webform_key']}}"
									name="{{elementLayout['#webform_key']}}" [ngModel]="tipo">
							</div>
							<!-- Campos managed_file -->
							<div *ngIf="elementLayout['#type'] == 'managed_file'">
								<label for="{{elementLayout['#webform_key']}}">{{elementLayout["#title"]}}
									<span *ngIf="elementLayout['#required'] ==  true">*</span></label>
								<label for="hojav" class="hoja-v">{{hojaWU}}
									<span *ngIf="item['#required'] ==  true">*</span></label>
								<input type="file" class="form-control hoja-v" id="hojav"
									placeholder="{{elementLayout['#placeholder']}}" name="hojav"
									(change)="onFileChange($event)" #hojavWS>
								<input type="text" class="form-control ocultar" id="fileupload" name="fileupload"
									[ngModel]="hojaWU">
							</div>
						</div>
					</ng-container>
					<!-- *ngIf="!item[0]": validacion para mostrar los elementos del formulario que no pertenecen a layout-->
					<ng-container *ngIf="!item[0]">
						<!-- Campos textfiel o tel. No incluye los select: pais, servicios de interes y productos de interes-->
						<div *ngIf="item['#type'] == 'textfield' || item['#type'] == 'tel' && item['#webform_key'] != 'pais' && item['#webform_key'] != 'tipo_solicitante'"
							class="text">
							<label for="{{item['#webform_key']}}">{{item["#title"]}}<span
									*ngIf="item['#required'] ==  true">*</span></label>
							<input type="{{item['#type']}}" class="form-control" id="{{'pqrs__' +item['#webform_key']}}"
								placeholder="{{item['#placeholder']}}" name="{{item['#webform_key']}}"
								(click)="mostrarDatos($event)" (mouseleave)="ocultarDatos($event)"
								required="{{item['#required'] ==  true}}" (mouseover)="mostrarDatos($event)"
								maxlength="{{item['#maxlength']}}" #textfield="ngModel" ngModel>
							<ng-container *ngIf="(textfield.invalid && textfield.touched) then valid">
							</ng-container>
						</div>
						<!-- Campos email-->
						<div *ngIf="item['#type'] == 'email'" class="text">
							<label for="{{item['#webform_key']}}">{{item["#title"]}}<span
									*ngIf="item['#required'] ==  true">*</span></label>
							<input type="{{item['#type']}}" class="form-control" id="{{'pqrs__' +item['#webform_key']}}"
								placeholder="{{item['#placeholder']}}" name="{{item['#webform_key']}}"
								maxlength="{{item['#maxlength']}}" #email="ngModel"
								required="{{item['#required'] ==  true}}" (click)="mostrarDatos($event)"
								(mouseleave)="ocultarDatos($event)" (mouseover)="mostrarDatos($event)"
								pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
								ngModel>
							<ng-container *ngIf="(email.invalid && email.touched) then valid">
							</ng-container>
						</div>
						<!-- Campos textarea-->
						<div *ngIf="item['#type'] == 'textarea'" class="textarea" class="text">
							<label for="{{item['#webform_key']}}">{{item["#title"]}}<span
									*ngIf="item['#required'] ==  true">*</span></label>
							<textarea class="form-control" id="{{'pqrs__' + item['#webform_key']}}"
								placeholder="{{item['#placeholder']}}" name="{{item['#webform_key']}}"
								(click)="mostrarDatos($event)" (mouseleave)="ocultarDatos($event)"
								(mouseover)="mostrarDatos($event)" required="{{item['#required'] ==  true}}"
								maxlength="{{item['#maxlength']}}" #textarea="ngModel" ngModel></textarea>
							<ng-container *ngIf="(textarea.invalid && textarea.touched) then valid">
							</ng-container>
						</div>
						<!-- Campos managed_file -->
						<div *ngIf="item['#type'] == 'managed_file'" class="text">
							<label for="{{item['#webform_key']}}">{{item["#title"]}}
								<span *ngIf="item['#required'] ==  true">*</span></label>
							<label for="hojav" class="hoja-v">{{hojaWU}}
								<span *ngIf="item['#required'] ==  true">*</span></label>
							<input type="file" class="form-control hoja-v" id="hojav"
								placeholder="{{item['#placeholder']}}" name="hojav" (change)="onFileChange($event)"
								#hojavWS>
							<input type="text" class="form-control ocultar" id="fileupload" name="fileupload"
								[ngModel]="hojaWU">
						</div>
						<!-- Campo terminos y condiciones-->
						<div class="form-group" class="terminos_grupo"
							*ngIf="item['#type'] == 'webform_terms_of_service'">
							<input type="checkbox" [checked]="checked" id="{{'pqrs__' +item['#webform_key']}}"
								name="{{item['#webform_key']}}" value="false" required="{{item['#required'] ==  true}}"
								ngModel>
							<label ng-reflect-ng-class="" for="{{'pqrs__' +item['#webform_key']}}">He leído y
								acepto los<a [routerLink]="ruta">
									términos y condiciones
								</a>
							</label>
							<ng-template #tipQuestion>
								<div [innerHTML]='listQuestion'></div>
							</ng-template>
							<div class="popover-question desktop" [ngbPopover]="tipQuestion" popoverClass="question"
								[popoverTitle]="tituloQuestion" triggers="mouseenter:mouseleave" placement="top">
								<i class="fas fa-exclamation-circle"></i>
							</div>
							<div class="popover-question phone" [ngbPopover]="tipQuestion" popoverClass="question"
								[popoverTitle]="tituloQuestion" placement="left">
								<i class="fas fa-exclamation-circle"></i>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</div>
			<re-captcha ngModel #captcha="ngModel" name="captcha" class="captcha" (resolved)="resolved($event)"
				siteKey="6LfycJsUAAAAANcZLFFQErxM92v-rNzuZTX6I3Ob" ngDefaultControl></re-captcha>
			<ng-template #tipContent>{{hover_buttom}}</ng-template>
			<button type="submit" class="btn btn-primary" [ngbTooltip]="tipContent"
				[ngClass]="userForm.invalid?'disabled':''" [disabled]="userForm.invalid">
				ENVIAR
			</button>
			<div class="obligatorios col-md-12"> <span>*</span>Datos Obligatorios</div>
		</form>
	</div>
</div>