@import './src/assets/scss/mixin.scss';

.WhyBits {
    position: relative;
    width: 100%;
    margin-top: 39px;

    @include breakpoint(desktop) {
        width: 98%;
    }

    @include breakpoint(tablet) {}

    .images-whybits {
        .images {
            -webkit-padding-start: 0;
            justify-content: center;
            margin: 0 2%;

            @include breakpoint(desktop) {
                margin-left: 9%;
            }

            @include breakpoint(tablet) {}

            li {
                list-style: none;
                margin-top: 17px;
                text-align: center;

                @include breakpoint(desktop) {
                    margin-right: 5%;
                }

                @include breakpoint(tablet) {
                    margin-right: 1%;
                }

                p {
                    font-family: 'Open Sans Codensed';
                    font-weight: 300;
                    font-size: 20px;
                    width: 133px;
                    margin-top: 16px;

                    @include breakpoint(desktop) {
                        font-size: 24px;
                    }

                    @include breakpoint(tablet) {
                        font-size: 21px;
                        width: 126px;
                    }
                }

                a {
                    text-decoration: none;
                    color: #002b49;
                }

                a:hover {
                    color: #a6cf24;
                }

                img {
                    width: 100px;
                    height: 100px;                    
                }
            }

            li:nth-child(6) {
                display: none;
            }

            li:nth-child(7) {
                display: none;
            }
        }
    }
}

#main-title {
    color: #002b49;
    text-align: center;
    margin-top: 40px;

    @include breakpoint (phone) {
        margin-top: 20px;
        margin-bottom: 20px !important;
    }

    @include breakpoint (tablet) {
        margin-top: 20px;
        margin-bottom: 20px !important;
    }

    h2 {
        margin-left: 3%;
        font-size: 30px;
        transform: scaleY(1.2);

        @include breakpoint(desktop) {
            margin-left: 0;
            font-size: 40px;
            width: 100%;
        }

        @include breakpoint(tablet) {
            margin-left: 0;
            font-size: 40px;
            width: 100%;
        }
    }
}

#titles {
    color: #002b49;
    text-align: center;
    margin-top: 60px;

    @include breakpoint(desktop) {
        margin-top: 80px;
    }

    @include breakpoint(tablet) {
        margin-top: 80px;
    }

    h3 {
        margin-left: 3%;
        font-size: 16px;

        @include breakpoint(desktop) {
            margin-left: 0;
            font-size: 20px;
            width: 100%;
        }

        @include breakpoint(tablet) {
            margin-left: 0;
            font-size: 20px;
            width: 100%;
        }
    }
}