<section id="main-title">
    <h2>{{ mainTitleLink?.title }}</h2>
</section>
<section class="WhyBits">
    <div class="images-whybits">
        <ul class="row first images" >
            <li class="images" *ngFor="let image of moralValues; let i = index">
                <a [routerLink]="'home'">
                        <img class="{{i}}" lazyload [src]='image.field_imagen.url' [alt]="image.field_imagen.alt">
                    <p>{{ image.title }}</p>
                </a>
            </li>
        </ul>
    </div>
</section>