<section id="main-title">
    <h2>{{ mainTitleLink?.title }}</h2>
</section>
<section class="WhyBits">
    <div class="images-whybits">
        <ul class="row first images">
            <li class="images" *ngFor="let image of moralValues; let i = index" (deferLoad)="image.show = true">
                <a [routerLink]="'home'">
                    <ng-container *ngIf="image.show" >
                        <img class="{{i}}" [src]='image.field_imagen.url' [alt]="image.field_imagen.alt" (load)="showImage()">
                    </ng-container>
                    <p>{{ image.title }}</p>
                </a>
            </li>
        </ul>
    </div>
</section>