.modal-open{
    overflow: auto;
    padding-right: 0 !important;
}
body{
    main{
        #alert-item1{
            margin-left: 13%;
            width: 73.5%;
            margin-top: 52px;
            .alert-success{
                background-color: #FFFFFF;
                border-color: #FFFFFF;
                color: #002b49;
                .successful-text{
                    font-style: normal;
                    margin-left: 1%;
                }
                .fa-check-circle{
                    font-size: 24px;
                    color: #a6cf24;
                }
            }
        }
        .modal
        {
            position: initial;
        }
        #alert-item1::before{
            content: "";
            background-color: #a6cf24;
            opacity: 0.15;
            z-index: 1;
            width: 72.5%;
            height: 119px;
            position: absolute;
            @include breakpoint (desktop){
                height: 50px;
            }
            @include breakpoint (tablet){
                height: 50px;
            }
        }
        #alert-item2{
            margin-left: 13%;
            width: 73.5%;
            margin-top: 52px;
            .alert-danger{
                border-radius: 0;
                .error-text{
                    font-style: normal;
                    margin-left: 1%;
                }
                .fa-exclamation-circle{
                    font-size: 24px;
                }
            }
        }
        #alert-item2::before{
            content: "";
            z-index: 1;
            width: 72.5%;
            height: 119px;
            position: absolute;
            @include breakpoint (desktop){
                height: 50px;
            }
        }
    }
    .modal-backdrop {
        position: absolute;
        background-color: #FFFFFF;
        z-index: 0;
    }
    .modal-backdrop.show {
        opacity: 0;
    }
}