.envolope{
    width: 41px;
    height: 41px;
    background-color: #a6cf24;
    opacity: 0.7;
    position: fixed;
    border-radius: 200px;
    margin-left: 65%;
    margin-top: 573px;
    z-index: 1;
    .icon-mail{
        font-size: 22px;
        margin-top: 4px;
        margin-left: -12px;
        a{
            color: #FFFFFF;
        }
    }
    @include breakpoint(desktop){
        width: 41px;
        height: 41px;
        background-color: #a6cf24;
        opacity: 0.7;
        position: fixed;
        border-radius: 0;
        margin-top: 592px;
        margin-left: 0;
        z-index: 1;
        .icon-mail{
            margin-left: -13px;
            font-size: 22px;
            margin-top: 5px;
            a{
                color: #FFFFFF;
            }
        }
    }
    @include breakpoint(tablet){
        width: 41px;
        height: 41px;
        background-color: #a6cf24;
        opacity: 0.7;
        position: fixed;
        margin-top: 592px;
        border-radius: 0;
        margin-left: 0;
        z-index: 1;
        .icon-mail{
            margin-left: -13px;
            text-align: center;
            font-size: 22px;
            margin-top: 6px;
            a{
                color: #FFFFFF;
            }
        }    
    }
}