body{
    .page-header{
        height: 352px;
        .title{
            position: absolute;
            margin-top: 178px;
            color: #FFFFFF;
            margin-left: 15%;
            @include breakpoint(desktop) {
                margin-left: 37%;
            }
            @include breakpoint(tablet) {
                margin-left: 37%;
            }
            h1{
                font-size: 36px;
                @include breakpoint(desktop) {
                    font-size: 50px;
                }
                @include breakpoint(tablet) {
                    font-size: 50px;
                }
            }
        }
        picture{
            img{
                width: 100%;
                height: 352px;
            }
        }
    }
    .page-header::before{
        content: "";
        background-color: #000000;
        opacity: 0.3;
        height: 352px;
        width: 100%;
        position: absolute;
    }
}

