body{
    .page-header{
        height: 352px;
        .title{
            color: #FFFFFF;
            h1{
                position: absolute;
                margin-top: 178px;
                font-size: 36px;
                left: 52%;
                transform: translateX(-50%);
                text-transform: none;
                @include breakpoint(desktop) {
                    font-size: 50px;
                    left: 50%;
                }
                @include breakpoint(tablet) {
                    font-size: 50px;
                    left: 50%;
                }
            }
        }
        picture{
            img{
                width: 100%;
                height: 352px;
            }
        }
    }
    .page-header::before{
        content: "";
        background-color: #000000;
        opacity: 0.3;
        height: 352px;
        width: 100%;
        position: absolute;
    }
}

