header{
    .logo {
        width: 15%;
        position: fixed;
        z-index: 1022;
        .container-logo{
            width: 100%;
            padding-left: 50%;
            padding-top: 28%;
            position: relative;
            z-index: 100;
            @include breakpoint(tablet) {
                padding-top: 20%;
            }
            @include breakpoint(desktop) {
                padding-top: 4%;
                padding-left: 43%;
            }
            .image-url{
                width: 100%;
                position: relative;
                left: 28%;
                @include breakpoint(desktop) {
                }
                img{
                    width: 90px; 
                    @include breakpoint(desktop) {
                        width: 100%;
                        padding-left: 4%;
                        padding-top: 2%;
                    }
                }
            }
        }
    }
}