body{
    main{
        #logo-title-description{
            .row{
                margin-right: 0;
                margin-left: 0;
                margin-top: 0%;
                text-align: -webkit-center;
                @include breakpoint(desktop){
                    margin-top: 2%;
                    text-align: -webkit-center;
                    margin-left: 8%;
                }
            }
            div .col-md-4{
                margin-top: 1%;
                margin-right: -66px;
            }

            h1{
                font-size: 22px;
                margin-top: 20px;
                color: #002b49;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            p {
                font-size: 14px;
                color: #002b49;
                opacity: 0.9;
                width: 71%;
            }
            
        }

    }
}