body{
    main{
        .main-title{
            color: #002b49;
            text-align: center;
            margin-top: 64px;
            @include breakpoint(desktop){
                margin-top: 80px;
            }
            @include breakpoint(tablet) {
                margin-top: 80px;
            }
            h1{
                margin-left: 3%;
                font-size: 30px;
                @include breakpoint(desktop) {
                    margin-left: 0;
                    font-size: 40px;
                    width: 100%;
                }
                @include breakpoint(tablet) {
                    margin-left: 0;
                    font-size: 40px;
                    width: 100%;
                }
            }
        }
    }
}
