body{
    main{
        #transition-image2{
            margin-top: 53px;
            height: 338px;
            @include breakpoint(desktop) {
                height: 317px;
            }
            @include breakpoint(tablet) {
                height: 317px;
            }
            picture{
                .backgraund-image{
                    height: 338px;
                    position: absolute;
                    @include breakpoint(desktop) {
                        height: 317px;
                    }
                    @include breakpoint(tablet) {
                        height: 317px;
                    }
                }
            }
            h1{
                font-size: 30px;
                color: #FFFFFF;
                position: absolute;
                z-index: 1;
                margin-top: 57px;
                margin-left: 10%;
                @include breakpoint(desktop) {
                    margin-left: 36%;
                    margin-top: 77px;
                    font-size: 40px;
                }
                @include breakpoint(tablet) {
                    margin-left: 36%;
                    margin-top: 77px;
                    font-size: 40px;
                }
            }
            .list-image-item{
                height: 357px;
                .row{
                    position: absolute;
                    margin-top: 126px;
                    margin-right: 0;
                    margin-left: 2px;
                    @include breakpoint(desktop) {
                        margin-top: 182px;
                        margin-left: 13%;
                    }
                    @include breakpoint(tablet) {
                        margin-top: 182px;
                        margin-left: 8%;
                    }
                    li{
                        z-index: 1;
                        list-style: none;
                        margin-right: 30px;
                        margin-bottom: 47px;
                        @include breakpoint(desktop) {
                            margin-right: 130px;
                        }
                        @include breakpoint(tablet) {
                            margin-right: 68px;
                        }
                    }
                    li:last-child{
                        margin-top: 20px;
                        @include breakpoint(desktop) {
                            margin-top: 0;
                        }
                        @include breakpoint(tablet) {
                            margin-top: 0;
                        }
                    }
                    li:nth-child(2n){
                        @include breakpoint(desktop) {
                            margin-top: 38px;
                        }
                        @include breakpoint(tablet) {
                            margin-top: 38px;
                        }
                    }
                    li:nth-child(2){
                        margin-left: 17%;
                        margin-top: 20px;
                        @include breakpoint(desktop) {
                            margin-left: 0;
                        }
                        @include breakpoint(tablet) {
                            margin-left: 0;
                        }
                    }
                }
            }
            .list-image-item::after{
                content: "";
                background-color: #000000;
                opacity: 0.3;
                height: 338px;
                width: 100%;
                position: absolute;
                @include breakpoint(desktop) {
                    height: 317px;
                }
                @include breakpoint(tablet) {
                    height: 317px;
                }
            }
        }
    }
}