main{
    .WhyBits{
        width: 96%;
        margin-top: 39px;
        @include breakpoint(desktop){
            width: 98%;
        }
        @include breakpoint(tablet) {
            width: 98%;
        }
        .images-whybits{
            .images{
                margin-left: 0;
                @include breakpoint(desktop){
                    margin-left: 9%;
                }
                @include breakpoint(tablet) {
                    margin-left: 5%;
                }
                li{
                    list-style: none;
                    margin-right: 25px;
                    margin-top: 17px;
                    text-align: center;
                    @include breakpoint(desktop){
                        margin-right: 8%;
                    }
                    @include breakpoint(tablet) {
                        margin-right: 5%;
                    }
                    p{
                        font-size: 20px;
                        width: 133px;
                        margin-top: 16px;
                        @include breakpoint(desktop){
                            font-size: 24px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 24px;
                        }
                    }
                }
                li:last-child{
                    margin-left: 24%;
                    @include breakpoint(desktop){
                        margin-left: 0;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}