footer{
    .privacy{
        .row{
            .col-lg-12{
                background-color: #003451;
                color:#FFFFFF;
                text-align: center;
                font-size: 75%;
                height: 30px;
                .politics::after{
                    content: ".";
                    margin: 10px;
                }
                .sites::after{
                    content: ".";
                    margin: 10px;
                }
                .politics-site{
                    margin-top: 7px;
                }
                @include breakpoint(desktop) {
                    font-size: 17px;
                    height: 44px;
                }
            }
        }
    }
}
