footer{
    .privacy{
        width: 96%;
        @include breakpoint(desktop){
            width: 100.1%;
        }
        .row{
            .col-lg-12{
                background-color: #123a56;
                color:#FFFFFF;
                text-align: center;
                font-size: 75%;
                height: 30px;
                .politics::after{
                    content: ".";
                    margin: 10px;
                }
                .sites::after{
                    content: ".";
                    margin: 10px;
                }
                .politics-site{
                    margin-top: 14px;
                    font-size: 11px;
                }
                @include breakpoint(desktop) {
                    font-size: 17px;
                    height: 44px;
                }
            }
        }
    }
}
