#Services{
    height: 1122px;
    margin-top: 2%;
    overflow: hidden;
    @include breakpoint (tablet){
        height: auto;
    }
    @include breakpoint(desktop) {
        height: 906px;
    }
    .block-title {
        height: 142px;
        width: 100%;
        background: rgb(247, 249, 249);
        @include breakpoint(desktop) {
            height: 185px;
        }
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 40px;
            margin: 0%;
            z-index: 100;
            color: #002b49;
            padding: 0%;
            padding-top: 11%;
            padding-top: 81px;
            padding-bottom: 61px;
            @include breakpoint(desktop) {
                margin: initial;
                padding-top: 81px;
            }
        }
    }
    .container {
        width: 100%;
        position: relative;
        height: 690px;
        padding-left: 0%;
        padding-left: 0%;
        @include breakpoint(desktop) {
            height: 895px;
            padding: 0%;
        }
    }
    .gallery-container {
        h1 {
            text-align: center;
            margin-top: 70px;
            font-weight: bold;
            color: #58595a;
        }
    }
    .tz-gallery {
        height: auto;
        .row {
            width: 100%;
            height: 50%;
            margin: 0%;
            .col-md-4 {
                height: 372px;
                padding: 0%;
                @include breakpoint(phone) {
                    &:nth-child(1n+4) {
                        display: none;
                    }
                }
                @include breakpoint(desktop){
                    height: 453px;
                }
            }
        }
    }
    .tz-gallery .thumbnail:hover {
        transform: translateY(-10px) scale(1.02);
    }
    .tz-gallery .caption {
        padding: 26px 30px;
        text-align: center;
    }
    .tz-gallery .caption h3 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 0;
    }
    .tz-gallery .caption p {
        font-size: 12px;
        color: #7b7d7d;
        margin: 0;
    }
    .baguetteBox-button {
        background-color: transparent 
    }
    .tz-gallery .thumbnai {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 30px;
        border: none;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
        .lightbox {
            height: 100%;
            width: 100%;
        }
        .images {
            width: 100%;
            height: 100%;
            filter: brightness(86%) grayscale(51%);
            width: 100%;
            height: 100%;

        }
        .box-info {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 43, 73, 0.62);
            position: absolute;
            bottom: 0%; 
            padding-right: 14%;
            padding-left: 14%;
            @include breakpoint (desktop){
                transition: all ease 0.89s;
                visibility: hidden;
                top: 100%;
            }
     
            .box-botton {
                position: relative;
                top: 88%;
                @include breakpoint (desktop){
                    top: 81%;
                }
            }
            .botton_products {
                position: relative;
                border: none;
                left: 32%;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                text-transform: uppercase;
                text-align: center;
                color:#8ECE17;
                text-decoration: none;
                font-family: open_sansregular;
                visibility: hidden;
                &::after {
                    content: '';
                    position: relative;
                    right: 24%;
                    top: 5px;
                    padding-left: 17%;
                    padding-right: 17%;
                    padding-top: 17%;
                    background-image: url('../images/mas.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 35px;
                    visibility: visible;
                }
                @include breakpoint(desktop) {
                    left: 28%;
                    margin-right: initial;
                    margin-left: initial;
                    padding-left: 8.5%;
                    padding-right: 8.5%;
                    padding-top: 3.5%;
                    padding-bottom: 3.5%;
                    border: solid 1px#8ECE17;
                    border-radius: 3%;
                    color:#8ECE17;
                    font-size: 20px;
                    visibility: visible;
                    &::after {
                        content: '';
                        visibility: hidden;
                        padding-right: initial;
                        padding-left: initial;
                    }
                }   
            }
        }
        .box-title {
            position: relative;
            bottom: 93%;
            padding-left: 9%;
            padding-right: 9%;
            text-align: center;
            z-index: 10;
            @include breakpoint(desktop){
                float:right;
                clear: both;
                bottom: 61%;
                padding-left: 15%;
                padding-right: 15%; 
                transition: all ease 0.8s;
               
            }
            .titlepr {
                color: #ffffff;
                position: relative;
                top: 56%;
                line-height: 46px;
                font-weight: 300;
                height: auto;
                font-size: 31px;
                font-family: 'Open Sans', sans-serif;
                @include breakpoint(desktop){
                     font-family: 'Roboto', sans-serif;
                     font-size: 36px;
                }
            }
            .titlepr:after {
                content: '';
                position: relative;
                display: block;
                width: 100%;
                height: 1.2px;
                left: 0%;
                bottom: -14px;
                transition: all .3s ease-in-out;
                transform: scaleX(0.3);
                background:#8ECE17;
                
                @include breakpoint (desktop){
                    top:134%;
                }
            }
            .box-text{
                position: relative;
                padding-top: 10%;
                padding-left: 4%;
                padding-right: 5%;

                @include breakpoint(desktop){
                    top:365px;
                    transition: all ease 1s
                }
                .text {
                    display: block;
                    text-align: center;
                    height: auto;
                    color: #ffffff;
                    font-weight: 300;
                    font-size: 15px;
                     font-family: 'Roboto', sans-serif;
                    @include breakpoint(desktop) {
                        font-size: 18px;
                        top: 26%;
                        height: auto;
                        line-height: 1.4;
                    }
                }
            }    
        }
    }


    @include breakpoint (desktop){
        .tz-gallery .thumbnai:hover {
            .box-info {
                transform: translateY(-100%);
                background: rgba(0, 43, 73, 0.62);
                visibility: initial;
            }
            .box-title {
                bottom: 90%;
                z-index: 100;
                .box-text{
                    top: 14px;
                    transform: translateY(-6%);
                    
                }
            }
            .titlepr:after {
                transform: scaleX(0.8);
            }
        }
    }    


}