#title-carousel{
    margin-top: 15.5%;
    @include breakpoint (tablet){
        margin-top: 5.5%;
    }
    @include breakpoint (desktop){
        margin-top: 4.8%;
    }
    h1{
        font-size: 30px;
        text-align: center;
        color: #002b49;
        @include breakpoint (desktop){
            font-size: 40px;
        }
    }
}