<div class="carousel-item window-complete" *ngFor="let car of carouselArray">
    <picture>
        <source srcset="assets/images/movil.jpg" media="(max-width:{{medius}})">

        <img class="d-block w-100 " [src]=" car.field_image.url " alt="desarrollo de software ">

        <div class="carousel-caption d-md-block text-slider ">
            <h1 class="title-slider "> {{car.title}} </h1>
            <p class="description-slider ">{{car.field_subtitle}}</p>
        </div>
    </picture>
</div>