@import './src/assets/scss/mixin.scss';

#block-navbar {
    .inverse-color {
        background: #ffffff;
    }

    .color-white {
        background: #ffffff;
    }

    nav {
        width: 100%;
        padding-top: 6%;
        @media (max-width: 1025px) {
            padding: 30px;
        }
        border-bottom: 1px solid transparent;
        position: fixed;
        float: left;
        font-weight: bold;
        background: transparent;
        text-decoration: none;
        z-index: 1020;

        @include breakpoint (tablet) {
            // padding-top: 6%;
            width: 100%;
            position: fixed;
        }

        @include breakpoint(desktop) {
            float: right;
            padding-top: 0%;
            width: 100%;
            position: fixed;
            text-align: right;
        }

        .menuToggle {
            display: block;
            position: relative;
            width: 100%;
            z-index: 1;

            @media only screen and (max-width: 1080px) {
                padding-top: 1%;
            }

            @include breakpoint(phone) {
                padding-top: 5%;
            }

            @include breakpoint(tablet) {
                top: 0px;
            }

            @include breakpoint(desktop) {}

            .Botton {
                display: block;
                width: 11%;
                height: 20px;
                position: absolute;
                left: 80%;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
                @include breakpoint(tablet) {}

                @include breakpoint(desktop) {
                    display: none;
                }
            }

            .Botton:checked~.lines {
                opacity: 1;
                transform: rotate(45deg) translate(1px, 0px);
                background: #0c7ffb;
            }

            .Botton:checked~.lines:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            .Botton:checked~.lines:nth-last-child(2) {
                opacity: 1;
                transform: rotate(-45deg) translate(1px, 2px);
            }

            .Botton:checked~.list-menu {
                display: block;
                transform: none;
            }

            .lines {
                display: block;
                width: 26px;
                height: 2.4px;
                margin-bottom: 5px;
                margin-left: 81%;
                position: relative;
                background: #ffffff;
                border-radius: 30%;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

                @include breakpoint(tablet) {}

                @include breakpoint(desktop) {
                    display: none;
                }
            }

            .lines:first-child {
                transform-origin: 0% 0%;
            }

            .lines:nth-last-child(2) {
                transform-origin: 0% 100%;
                margin-bottom: 8%;
            }

            ul {
                margin-bottom: 0;
            }

            .list-menu {
                padding-left: 0%;
                width: 95%;
                position: relative;
                display: none;
                -webkit-font-smoothing: antialiased;
                transform: translate(0, -100%);
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

                @include breakpoint (tablet) {}

                @include breakpoint (desktop) {
                    display: flex;
                    justify-content: flex-end;
                    transform: initial;
                    transition-delay: initial;
                }

                @include breakpoint (phone) {
                    width: 100%;
                }

                .items {
                    cursor: pointer;
                    list-style: none;
                    padding-bottom: 7%;
                    padding-top: 7%;
                    padding-left: 12%;
                    border-bottom: 1px solid #f5fafc;

                    @include breakpoint(tablet) {}

                    @include breakpoint(desktop) {
                        width: 9%;
                        text-align: center;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        padding-left: 0%;
                        padding-right: 0%;
                        border-bottom: initial;
                        display: inline-block;
                    }

                    @media (max-width: $desktop) {
                        padding: 0px;
                        width: 100%;
                    }

                    &:nth-child(1) {
                        border-top: 1px solid #cfe3ee;

                        @include breakpoint(tablet) {
                            border-top: initial;
                        }

                        @include breakpoint(desktop) {
                            border-top: initial;
                        }
                    }

                    &:hover {
                        i {
                            color: #a6cf24 !important;
                        }

                        .link {
                            color: #a6cf24;
                            text-decoration: none;
                        }
                    }

                    .link {
                        color: #002b49;
                        width: 100%;
                        text-decoration: none;
                        text-align: left;
                        padding-right: 73%;
                        font-size: 15px;
                        font-family: 'Open Sans light';
                        font-weight: 300;

                        @media (max-width: $desktop) {
                            display: block;
                        }

                        @include breakpoint(desktop) {
                            color: #ffffff;
                            padding-left: 12%;
                            padding-right: 5%;
                            padding-top: 20%;
                            padding-bottom: 20%;
                        }

                        @media (max-width: $desktop) {
                            padding: 20px;
                            width: 100%;
                        }

                        .arrow {
                            padding-left: 59%;

                            @include breakpoint(tablet) {
                                padding-left: 6%;
                            }

                            @include breakpoint(desktop) {
                                padding-left: 0%;
                                padding-right: 0%;
                                padding-top: 0%;
                            }
                        }

                        .arrow-service {
                            padding-left: 61.2%;

                            @include breakpoint(tablet) {
                                padding-left: 7.2%;
                            }

                            @include breakpoint(desktop) {
                                padding-left: 0%;
                            }
                        }
                    }

                    .active {
                        @include breakpoint (desktop) {
                            border-top: 4px solid #a6cf24;
                        }
                    }

                    .scroll-white {
                        color: #002b49;
                        background: white;
                    }

                    .tigger-menu {
                        background: #ffffff;
                        color: #002b49;

                        @media (max-width: $desktop) {
                            border-bottom: 1px solid #eef6f9;
                        }
                    }
                }

                .language {
                    list-style: none;
                }
            }

            .list-phone {
                li {
                    border-bottom: none;
                    background-color: #517bbd !important;

                    .link {
                        background-color: #517bbd !important;
                        border: none !important;
                        color: #ffffff !important;
                        width: 20% !important;
                    }

                    .link.active {
                        font-weight: 900;
                    }
                }

                @include breakpoint (tablet) {
                    display: none;
                }

                @include breakpoint (desktop) {
                    display: none;
                }
            }

            /deep/ {

                // Todos los li debajo del primer nivel estan con posicion relativa
                li {
                    position: relative;

                    .menu-caret {
                        display: inline-block;

                        @include breakpoint(desktop) {
                            &.fas.fa-caret-down {
                                font-size: 10px;
                                color: #fff;
                            }

                            &.fas.fa-angle-right {
                                color: #002b49;
                                font-size: 13px;
                                position: absolute;
                                right: 18px;
                                bottom: 18px;
                                transition: 0.5s ease all;
                            }
                        }
                        @media (max-width: $desktop) {
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            width: 45px;
                            height: 45px;
                            box-sizing: border-box;
                            padding: 15px 18px;

                            &.fa-caret-down-item-menu {
                                top: 2px;
                            }
                        }
                    }
                }

                // Todos los uls debajo del primer nivel estan con display none
                .customrow-1 ul {
                    display: none;

                    &.invisible-in-mobile {
                        @media (max-width: $desktop) {
                            display: none;
                        }
                    }

                    &.visible-in-mobile {
                        @media (max-width: $desktop) {
                            display: block;
                        }
                    }
                }

                .customrow-1.items-phone {
                    display: flex;

                    li a {
                        width: 20%;
                    }

                }

                //  Cuando pasa por encima de cualquier li, el deja visible a los hijos
                li:hover>app-menu-item>ul {
                    display: block;

                    li:hover i.fa-angle-right {
                        transform: rotate(90deg);
                        transition: 0.5s ease all;
                    }
                }

                // Estilos de la fila 2 del menu
                ul.customulrow-2 {
                    list-style-type: none;
                    position: absolute;
                    padding: 0px;
                    right: 0px;

                    @include breakpoint(desktop) {
                        margin-top: -2px;
                    }

                    @media (max-width: $desktop) {
                        position: relative;
                        bottom: 0;
                    }

                    >li.customrow-2 {

                        @media (max-width: 1080px) {
                            border: 1px solid #f5fafc;
                        }

                        &:hover {
                            >i {

                                color: #a6cf24;
                            }

                            >a.link {
                                text-decoration: none;
                                color: #a6cf24;
                            }
                        }

                        >a.link {
                            border-bottom: 1px solid rgb(206, 206, 206);
                            padding: 12px;
                            padding-left: 11px;
                            text-align: left;
                            background: #fff;
                            display: block;
                            font-family: 'Open Sans';
                            font-size: 15px;
                            font-weight: 400;
                            color: #002b49;
                            min-height: 38px;
                            height: 49px;

                            @include breakpoint(desktop) {
                                width: 251px;
                            }

                            @media (max-width: $desktop) {
                                padding-left: 45px;
                                font-family: 'Open Sans Light';
                                border: 0;
                                border-bottom: 1px solid #eef6f9;
                            }

                        }

                        >img {
                            display: none;
                        }
                    }
                }

                // Estilos de la fila 3 del menu
                ul.customulrow-3 {
                    border: 1px solid rgb(206, 206, 206);
                    list-style-type: none;
                    padding: 0;
                    position: relative;

                    &::before {
                        @include breakpoint(desktop) {
                            content: '';
                            display: block;
                            background-image: url('/assets/images/MenuLuzDiagonal.png');
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    @include breakpoint(desktop) {
                        width: 430px;
                        background: #fff;
                        top: 0;
                        background-size: cover;
                        background-position: bottom right;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 194px;
                        height: 245px;
                        left: -431px;

                    }

                    @media (max-width: $desktop) {
                        border: 0;
                    }

                    >li.customrow-3 {
                        @include breakpoint(desktop) {
                            text-align: left;
                            height: 61px;
                            width: 50%;
                            float: left;
                        }

                        >a.link {
                            font-family: 'Open Sans';
                            font-size: 15px;
                            color: #002b49;
                            display: block;
                            background-color: transparent;

                            @include breakpoint(desktop) {
                                color: #333;
                                padding: 9px;
                            }

                            @media (max-width: $desktop) {
                                padding-left: 76px;
                                padding-top: 15px;
                                font-family: 'Open Sans Light';
                                border: 0;
                                text-align: left;
                                background: #fff;
                                display: block;
                                font-size: 15px;
                                font-weight: 400;
                                color: #002b49;
                                min-height: 38px;
                                height: 49px;
                                border-bottom: 1px solid #eef6f9;
                            }

                            .title {
                                @media (max-width: $desktop) {
                                    color: #002b49;
                                    font-size: 15px;
                                }
                            }

                            .description {
                                display: none;
                                font-family: Open Sans Light;
                                font-size: 13px;
                                color: #002b49;

                                @include breakpoint(desktop) {
                                    display: block;
                                }
                            }

                            &:hover {
                                text-decoration: none;

                                span.title {
                                    color: #a6cf26;
                                }
                            }
                        }

                        .title {
                            font-weight: normal;
                            font-size: 13px;
                            color: #333;
                            display: block;
                        }

                        .description {
                            font-weight: normal;
                            font-size: 10px;
                            color: #777;
                            display: block;
                            padding-left: 14px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }

    .shadow-if-exit-scroll {
        box-shadow: 0 2px 2px rgb(209, 209, 209);
    }

    .dropdown {
        position: absolute;
        right: 0;
        top: 20px;

        button {
            padding-left: 20px;
            padding-right: 20px;
            border-color: #517bbd !important;
            background-color: #517bbd !important;
            border-radius: 0 !important;
        }

        button:hover {
            .dropdown-menu {
                border-radius: 0 !important;
            }
        }

        .dropdown-menu a:hover {
            color: #a6cf24 !important;
        }

        @include breakpoint(phone) {
            display: none;
        }

        @include breakpoint(tablet) {
            display: none;
        }
    }
}

app-navbar /deep/ {
    .menu-item-child {
        .a {
            text-decoration: none;
        }

        .menu-tree-level {
            list-style-type: none;
            display: none;
        }

        .menu-has-children:hover>app-menu-item>.menu-tree-level {
            display: block;
        }

        .fa-angle-right {
            color: #002b49;
        }

        .locations-container {
            height: 100%;
            width: 100%;
        }
    }
}