@import './src/assets/scss/mixin.scss';
header {
  .inverse-color {
      background: #ffffff;
  }
  .color-white {
      background: #ffffff;
  }
  nav {
      width: 100%;
      padding-top: 6%;
      border-bottom: 1px solid transparent;
      position: fixed;
      float: left;
      font-weight: bold;
      background: transparent;
      text-decoration: none;
      z-index: 1020;
      @include breakpoint (tablet) {
          padding-top: 0%;
          width: 100%;
          position: fixed;
      }
      @include breakpoint(desktop) {
          float: right;
          padding-top: 0%;
          width: 100%;
          position: fixed;
          text-align: right;
      }
      .menuToggle {
          display: block;
          position: relative;
          width: 100%;
          z-index: 1;
          @include breakpoint(tablet) {
              top: 38px;
          }
          @include breakpoint(desktop) {}
          .Botton {
              display: block;
              width: 22%;
              height: auto;
              position: absolute;
              left: 75%;
              cursor: pointer;
              opacity: 0;
              z-index: 2;
              @include breakpoint(tablet) {}
              @include breakpoint(desktop) {
                  display: none;
              }
          }
          .Botton:checked~.lines {
              opacity: 1;
              transform: rotate(45deg) translate(1px, 0px);
              background: #0c7ffb;
          }
          .Botton:checked~.lines:nth-last-child(3) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
          }
          .Botton:checked~.lines:nth-last-child(2) {
              opacity: 1;
              transform: rotate(-45deg) translate(1px, 2px);
          }
          .Botton:checked~.list-menu {
              display: block;
              transform: none;
          }
          .lines {
              display: block;
              width: 26px;
              height: 2.4px;
              margin-bottom: 5px;
              margin-left: 81%;
              position: relative;
              background: #ffffff;
              border-radius: 30%;
              z-index: 1;
              transform-origin: 4px 0px;
              transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
              @include breakpoint(tablet) {}
              @include breakpoint(desktop) {
                  display: none;
              }
          }
          .color-scroll {
              background: #0c7ffb;
          }
          .lines:first-child {
              transform-origin: 0% 0%;
          }
          .lines:nth-last-child(2) {
              transform-origin: 0% 100%;
              margin-bottom: 8%;
          }
          ul {
              margin-bottom: 0;
          }
          .list-menu {
              padding-left: 0%;
              width: 100%;
              position: relative;
              display: none;
              -webkit-font-smoothing: antialiased;
              transform: translate(0, -100%);
              transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
              @include breakpoint (tablet) {}
              @include breakpoint (desktop) {
                  display: flex;
                  justify-content: flex-end;
                  transform: initial;
                  transition-delay: initial;
              }
              .items {
                  list-style: none;
                  padding-bottom: 7%;
                  padding-top: 7%;
                  padding-left: 12%;
                  border-bottom: 1px solid #f5fafc;
                  @include breakpoint(tablet) {}
                  @include breakpoint(desktop) {
                      width: 9%;
                      text-align: center;
                      padding-top: 2%;
                      padding-bottom: 2%;
                      padding-left: 0%;
                      padding-right: 0%;
                      border-bottom: initial;
                      display: inline-block;
                  }
                  @media (max-width: $desktop) {
                      padding: 0px;
                      width: 100%;
                  }
                  &:nth-child(1) {
                      border-top: 1px solid #cfe3ee;
                      @include breakpoint(tablet) {
                          border-top: initial;
                      }
                      @include breakpoint(desktop) {
                          border-top: initial;
                      }
                  }
                  .link {
                      color: #002b49;
                      width: 100%;
                      text-decoration: none;
                      text-align: left;
                      padding-right: 73%;
                      font-size: 15px;
                      font-family: 'Open Sans light';
                      font-weight: 300;
                      @media (max-width: $desktop) {
                          display: block;
                      }
                      &:hover {
                          color: #a6cf24;
                          text-decoration: none;
                      }
                      @include breakpoint(desktop) {
                          color: #ffffff;
                          padding-left: 12%;
                          padding-right: 15%;
                          padding-top: 20%;
                      }
                      @media (max-width: $desktop) {
                          padding: 20px;
                          width: 100%;
                      }
                      .arrow {
                          padding-left: 59%;
                          @include breakpoint(tablet) {
                              padding-left: 6%;
                          }
                          @include breakpoint(desktop) {
                              padding-left: 0%;
                              padding-right: 0%;
                              padding-top: 0%;
                          }
                      }
                      .arrow-service {
                          padding-left: 61.2%;
                          @include breakpoint(tablet) {
                              padding-left: 7.2%;
                          }
                          @include breakpoint(desktop) {
                              padding-left: 0%;
                          }
                      }
                  }
                  .active {
                      @include breakpoint (desktop) {
                          border-top: 4px solid #a6cf24;
                      }
                  }
                  .scroll-white {
                      color: #002b49;
                      background: white;
                  }
                  .tigger-menu {
                      background: #ffffff;
                      color: #002b49;
                  }
              }
              .language {
                  list-style: none;
              }
          }

          /deep/ {

            // Todos los li debajo del primer nivel estan con posicion relativa
            li {
                position: relative;
                .menu-caret {
                    display: block;
                    @include breakpoint(desktop) {
                        position: absolute;
                        right: 10px;
                        bottom: 30px;
                    }
                    @media (max-width: $desktop) {
                        position: absolute;
                        right: 10px;
                        top: 0px;
                        width: 45px;
                        height: 45px;
                        box-sizing: border-box;
                        padding: 15px 18px;
                    }
                }
            }
            // Todos los uls debajo del primer nivel estan con display none
            .customrow-1 ul{
                display: none;
                &.invisible-in-mobile {
                    @media (max-width: $desktop) {
                        display: none;
                    }
                }
                &.visible-in-mobile {
                    @media (max-width: $desktop) {
                        display: block;
                    }
                }
            }
            //  Cuando pasa por encima de cualquier li, el deja visible a los hijos
            li:hover > app-menu-item > ul {
                display: block;
            }
            // Estilos de la fila 2 del menu
            ul.customulrow-2 {
                list-style-type: none;
                position: absolute;
                padding: 0px;
                bottom: -77px;
                right: 0px;
                @media (max-width: $desktop) {
                    position: relative;
                    bottom: 0;
                }
                > li.customrow-2 {
                    > a.link {
                        padding: 5px;
                        padding-left: 23px;
                        text-align: left;
                        background: #fff;
                        display: block;
                        font-size: 13px;
                        font-weight: 400;
                        color: #333;
                        min-height: 38px;
                        padding-top: 9px;
                        @include breakpoint(desktop) {
                            width: 194px;
                        }
                        @media (max-width: $desktop) {
                            padding-left: 45px;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    > img {
                        display: none;
                    }
                }
            }
            // Estilos de la fila 2 del menu
            ul.customulrow-3 {
                list-style-type: none;
                padding: 0;
                @include breakpoint(desktop) {
                    width: 333px;
                    background: #fff;
                    top: 0;
                    background-position-x: right;
                    background-position-y: bottom;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 194px;
                    height: 189px;
                    left: -333px;
                }
                > li.customrow-3 {
                    @include breakpoint(desktop) {
                        text-align: left;
                        height: 61px;
                        width: 50%;
                        float: left;
                    }
                    > a.link {
                        display: block;
                        @include breakpoint(desktop) {
                            color: #333;
                            padding: 9px;
                        }
                        @media (max-width: $desktop) {
                            padding-left: 80px;
                        }
                        .description {
                            display: none;
                            @include breakpoint(desktop) {
                                display: block;
                            }
                        }
                        &:hover {
                            text-decoration: none;
                            span.title {
                                color: #a6cf26;
                            }
                        }
                    }
                    .title {
                        font-weight: normal;
                        font-size: 13px;
                        color: #333;
                        display: block;
                    }
                    .description {
                        font-weight: normal;
                        font-size: 10px;
                        color: #777;
                        display: block;
                        padding-left: 14px;
                        line-height: 15px;
                    }
                }
            }
          }
      }
    }
    .shadow-if-exit-scroll {
        box-shadow: 0 2px 8px rgb(209, 209, 209);
    }
}

app-navbar  /deep/ {
    .menu-item-child a{
        text-decoration: none;
      }

      .menu-tree-level{
        list-style-type: none;
        display: none;
      }

      .menu-has-children:hover > app-menu-item > .menu-tree-level{
        display: block;
      }

      .menu-caret{
        color:#fff;
      }

      .locations-container{
        height: 100%;
        width: 100%;
      }
}
