.carousel /deep/ {
    .carousel-indicators {
        bottom: -10px;

        li {
            width: 15px;
            height: 15px;            
            margin: 0 5px;
            border-radius: 50%;
        }

        li.active {
            background-color: #a6cf24 !important;
        }
    }
    .carousel-inner {
      height: 460px;
      @media (max-width: 500px) {
        height: 520px;
      }
      .carousel-item {
        height: 100%;
        .pt-3 {
          @media (max-width: 500px) {
            display: none;
          }
        }
        .fondoSlide {
          height: 100%;
        }
      }
    }
}
:host /deep/ .carousel-control-next,
:host /deep/.carousel-control-prev {
  width: 38px;
}

:host /deep/ .carousel-control-prev .carousel-control-prev-icon {
  background-image: url('/../assets/images/LeftArrow.svg');
  width: 41px;
  height: 77px;
}

:host /deep/ .carousel-control-next .carousel-control-next-icon {
  background-image: url('/../assets/images/rightArrow.svg');
  width: 41px;
  height: 77px;
}

@media only screen and (max-width: 1024px) {

  :host /deep/ .carousel-control-next,
  :host /deep/.carousel-control-prev {
    visibility: hidden;
  }
}  