@import './src/assets/scss/mixin.scss';

body {
  margin: 0;
}

.grid {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: rgba($color: #002b49, $alpha: 0.9);
}

.item {
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 33.33%;
  height: 640px;

  @media (max-width: 1367px) {
    height: 450px;
  }

  @media (max-width: 1201px) {
    height: 400px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  line-height: 100px;
  padding: 0px;
  z-index: 1;

  .dark-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #002b49, $alpha: 0.4);
    z-index: 10;
  }

  .info-content {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-grid {
      color: azure;
      font-size: 26px;
      font-family: Open Sans;
      text-align: center;
      z-index: 20;
      margin: 50px 0 0 0;
      text-transform: uppercase;

      @include breakpoint(phone) {
        margin: 20px 0 0 0;
      }

      @include breakpoint(tablet) {
        margin: 20px 0 0 0;
      }
    }

    .fa-database {
      font-size: 100px;
      color: white;
      z-index: 20;

      @media (max-width: 1400px) {
        font-size: 70px;
      }
    }

    .logo-client {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 140px;
      height: 120px;
      color: white;
      z-index: 20;

      @media (max-width: 1400px) {
        font-size: 70px;
      }
    }

    .description {
      line-height: normal;
      font-size: 18px;
      font-family: Open Sans Light;
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 20% 10% 0 10%;
      z-index: 20;

      @include breakpoint(phone) {
        margin: 5% 10% 0 10%;
      }

      @include breakpoint(tablet) {
        margin: 5% 10% 0 10%;
      }
    }
  }

  .complete-info-grid {
    visibility: hidden;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba($color: #002b49, $alpha: 0.55);

    .text-grid {
      color: azure;
      font-size: 26px;
      font-family: Open Sans;
      text-align: center;
      z-index: 20;
      margin: 50px 0 70px 0;
      text-transform: uppercase;

      @include breakpoint(phone) {
        margin: 20px 0 20px 0;
      }

      @include breakpoint(tablet) {
        margin: 20px 0 0 0;
      }
    }

    .description {
      line-height: normal;
      font-size: 18px;
      font-family: Open Sans Light;
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 0 10%;
    }

    .plus-icon {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url(/assets/icon/mas.svg);
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 20%;
    }
  }
}

.item.box-5,
.item.box-10,
.item.box-19 {
  position: absolute;
  height: 1280px;

  @media (max-width: 1367px) {
    height: 900px;
  }

  @media (max-width: 1201px) {
    height: 800px;
  }

  @media (max-width: 767px) {
    height: 400px;
  }

  line-height: 100px;
  z-index: 1;
}

.item.box-9,
.item.box-15 {
  position: absolute;
  width: 66.66%;
  line-height: 100px;
  z-index: 1;

  @include breakpoint(phone) {
    width: 100%;
  }

}

.item.muuri-item-hidden {
  z-index: 0;
  display: none !important;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

:host /deep/ .filter {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .select-autocomplete {

    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }

    .ui-select-container {
      input.ui-select-search {
        border-bottom: 1px solid #a6cf24 !important;
      }

      input.ui-select-search:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.02);
      }
    }

    .ui-select-container:focus {
      outline: none;
    }

    .ui-select-toggle,
    .ui-select-search {
      width: 100%;
      padding: 4px 2px;
      outline: none;
      border: none;
      border-bottom: 1px solid #b2c6cd;
      color: #002b49;
      border-radius: 0px;
      background: #fff;
    }

    .pull-right {
      float: right !important;
    }

    .ui-select-choices {
      display: block;
      margin-top: 5px;

      .ui-select-choices-row.active {
        .dropdown-item {
          background-color: #d5d5d5;
        }
      }

      li a {
        color: #a6cf24;

        strong {
          color: #002b49;
          font-weight: 400;
        }
      }
    }
  }

  .no-strong {
    li a {
      strong {
        color: #a6cf24 !important;
        font-weight: 300;
      }
    }
  }

  .row {
    width: 100%;
    margin-bottom: 30px;
  }

  .items {
    margin: 5px !important;
    margin-left: 0 !important;
    padding: 5px;

    label {
      color: #a6cf24;
      font-family: 'Open Sans light';
    }

    @include breakpoint(phone) {
      width: 100%;
      padding: 10px;
      margin-left: 5px !important;
    }
  }

}

.conteiner-1 {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 65px 40px;

  @include breakpoint (phone) {
    padding-bottom: 10px;
  }
}

/deep/ {
  .conteiner-2 {
    max-width: 900px;
    position: relative;
    margin: 0 auto;

    .div-left-side {
      background: #e2e2e2;
      background: -moz-linear-gradient(left, #e2e2e2 0%, #a6cf24 100%);
      background: -webkit-linear-gradient(left, #e2e2e2 0%, #a6cf24 100%);
      background: linear-gradient(to right, #e2e2e2 0%, #a6cf24 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#135670', GradientType=1);
      width: 42%;
      height: 2px;
      position: absolute;
      left: 0;
      margin-left: -35px;

      @include breakpoint (phone) {
        background: #a6cf24;
        width: 130%;
      }
    }

    .divIconSeparator {
      display: block;
      position: absolute;
      width: 150px;
      left: 45%;
      margin-left: -30px;
      margin-top: -20px;
      text-align: center;

      @include breakpoint (phone) {
        left: 0;
        margin-left: 0;
        margin-top: 10px;
        display: none;
      }
    }

    .div-right-side {
      background: #a6cf24;
      background: -moz-linear-gradient(left, #a6cf24 0%, #e2e2e2 99%);
      background: -webkit-linear-gradient(left, #a6cf24 0%, #e2e2e2 99%);
      background: linear-gradient(to right, #a6cf24 0%, #e2e2e2 99%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#135670', endColorstr='#e2e2e2', GradientType=1);
      width: 42%;
      height: 2px;
      display: block;
      position: absolute;
      right: 0;
      margin-right: -30px;

      @include breakpoint (phone) {
        display: none;
      }
    }

    .container-phone {
      display: none;
    }

    @include breakpoint (phone) {
      .container-phone {
        display: block;
        text-align: center;
      }
    }
  }
}

.icon-actu {
  background-image: url('../../../../assets/icon/IconoActualizar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
}

.items.button-all {
  max-width: 20% !important;
  padding-top: 40px !important;
  cursor: pointer;

  label {
    padding-left: 30px;
    cursor: pointer;
  }

  @include breakpoint (phone) {
    max-width: 100% !important;
    padding-top: 0 !important;
  }
}