<ul class="nav justify-content-center mb-3" id="menu">
    <li class="nav-item" *ngFor="let menuItem of menuList">
        <div class="nav-link" (click)="ubicaciones(menuItem.id)">
            {{ menuItem.label }}
        </div>
    </li>
</ul>
<ngx-carousel [inputs]="carouselOne" id="menu-phone">
    <ngx-tile NgxCarouselItem *ngFor="let value of menuList">
        <div class="nav-link" (click)="ubicaciones(value.id)">
            {{ value.label }}
        </div>
    </ngx-tile>
    <button NgxCarouselPrev class='leftRs'></button>
    <button NgxCarouselNext class='rightRs'></button>
</ngx-carousel>