@import "./src/assets/scss/mixin.scss";
.social-networks{
  width: 41px;
  height: auto;
  background-color: #517bbd;
  opacity: 0.7;
  position: fixed;
  z-index: 9;
  bottom: 120px;
  display: none;
  @include breakpoint(desktop){
    display: block;
  }
  .icon-social{
    display: block;
    .row{
      margin-left: 13px;
      width: 0;
      li{
        margin-right: 1px;
        margin-bottom: 9px;
        a{
          display: block;
          color: #FFFFFF;
          margin-top: 11px;
        }
      }
      a:hover{
        color: #a6cf24;
      }
    }
  }
}

.envolope {
  width: 41px;
  height: 41px;
  background-color: #a6cf24;
  opacity: 0.7;
  position: fixed;
  border-radius: 50%;
  display: block;
  z-index: 9;
  right: 40px;
  bottom: 0;
  @include breakpoint(desktop){
    border-radius: 0;
    bottom: 40px;
    right: initial;
  }
  .icon-mail {
    font-size: 22px;
    margin-top: 5px;
    margin-left: 0px;
    .row {
      margin-right: 0;
      margin-left: 0;
      .fa-li {
        left: 0;
        @include breakpoint(desktop){
          left: 0;
        }
      }
    }
    a {
      color: #FFFFFF;
    }
  }
}
