<section class="social-networks">
  <div class="icon-social">
    <ul class="row fa-ul">
      <li *ngFor="let net of socialmedia;">
        <a href="{{ net.data.url }}" target="_blank">
          <i class="{{ net.data.text }}"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="envolope">
  <div class="icon-mail">
    <ul class="row fa-ul">
      <li>
        <a routerLink="/contact-us">
          <i class="fa-li fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
