.social-networks{
  margin-top: 0;
  width: 41px;
  height: initial;
  top: 35%;

  .icon-social {
    .row{
      margin-left: 13px;
      li{
        padding: 10px 0;
        margin-bottom: 0;
      }
    }
  }
}