<ng-container>
    <section id="footer-block-location">
        <div class="row row-block">
            <div  [ngClass]="mayor ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-block':'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-block centred'"
                *ngFor="let ubicacion of dataUbicaciones; let i = index">
                <div class="footer-block-location" [class.site]="i > 0" [class.random]="i > 0" >
                    <div class="row location-row">
                        <div  [ngClass]="mayor ?'col-10 col-sm-10 col-xl-10 col-lg-10 col-md-10 info-location':'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 info-location'">
                            <h2 class="title-location">{{ubicacion.title}}</h2>
                            <div class="subtitle-location">
                                <li class="location-li address">{{ubicacion.field_address}}</li>
                                <li class="location-li telephone">{{ubicacion.field_telephone}}</li>
                                <li class="location-li see-location office" *ngIf="i == 0">
                                    <a class="link-location" [routerLink]="ruta" fragment="title-description"
                                        (click)="cargarMapaUbicaciones()">
                                        <i class="location-green"></i>
                                        <i class="location-green-hover"></i>
                                        {{title}}
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>