<section id="transition-image">
    <picture>
        <source media="(max-width:500px)" [srcset]="tecnologiesmovil[0]?.url ">
        <img class="w-100 backgraund-image" [src]="tecnologiesback[0]?.url" alt="{{tecnologiesback[0]?.alt}}">
    </picture>
    <h1> {{tecnologiesTitle.title}} </h1>
    <div class="list-image-item">
        <ul class="row">
            <li *ngFor="let tec of tecnologiesArray; let i = index">
                <picture>
                    <img id="slide-img-{{i}} " class="img-item animated" [src]="tec.url" alt="{{tec.alt}}">
                </picture>
            </li>
        </ul>
    </div>
</section>