 @import './src/assets/scss/mixin.scss';
 .row-tec {
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     .content-trans {
         background: rgba(0, 0, 0, 0.5);
         width: 100%;
         height: 100%;
     }
     .tec-slider {
         width: 100%;
         margin: 0 auto;
         display: flex;
         .div-slide {
            
             
             @include mediaquery(max_960) {
                
             }
             .img-slide {
                 
                 @include mediaquery(max_960) {
                    
                 }
             }
         }
     }
 }