 @import './src/assets/scss/mixin.scss';
 #transition-image {
     margin-top: 53px;
     height: 400px;
     display: block;
     @include breakpoint(desktop) {
         height: 366px;
     }
     @include breakpoint(tablet) {
         height: 366px;
     }
     picture {
         display: flex;
         .backgraund-image {
             height: 400px;
             position: absolute;
             @include breakpoint(desktop) {
                 height: 366px;
             }
             @include breakpoint(tablet) {
                 height: 366px;
             }
         }
     }
     h1 {
         text-transform: uppercase;
         font-size: 30px;
         color: #FFFFFF;
         position: absolute;
         z-index: 1;
         margin-top: 62px;
         width: 100%;
         text-align: center;
         @include breakpoint(desktop) {
             margin-left: 0%;
             width: 100%;
             margin-top: 67px;
             font-size: 40px;
             text-align: center;
         }
         @include breakpoint(tablet) {
             width: 100%;
             margin-left: 0%;
             text-align: center;
             margin-top: 67px;
             font-size: 40px;
         }
     }
     .list-image-item {
         height: 400px;
         .row {
             width: 100%;
             padding: 0%;
             position: absolute;
             margin-top: 78px;
             margin-right: auto;
             margin-left: auto;
             justify-content: center;
             @include breakpoint(desktop) {
                 margin-top: 12.5%;
             }
             @include breakpoint(tablet) {
                 margin-top: 140px;
             }
             li {
                 z-index: 1;
                 height: 49px;
                 width: 28%;
                 list-style: none;
                 padding: 0% 4.2%;
                 display: flex;
                 margin-left: 4%;
                 margin-top: 19%;
                 @include breakpoint(desktop) {
                     align-items: center;
                     width: initial;
                     justify-items: center;
                     height: auto;
                     padding: 0 5.2%;
                     margin-left: initial;
                     margin-top: initial;
                 }
                 @include breakpoint(tablet) {
                     width: initial;
                     align-items: center;
                     justify-items: center;
                     height: auto;
                     padding: 0 4.2%;
                     margin-left: initial;
                     margin-top: initial;
                 }
                 img {
                     width: 100%;
                     height: 100%;
                     @include breakpoint (tablet) {
                         width: initial;
                         height: initial;
                     }
                     @include breakpoint (desktop) {
                         width: initial;
                         height: initial;
                     }
                 }
             }
         }
     }
     .list-image-item::after {
         content: "";
         background-color: #002b49;
         opacity: 0.7;
         height: 400px;
         width: 100%;
         position: absolute;
         @include breakpoint(desktop) {
             height: 366px;
         }
         @include breakpoint(tablet) {
             height: 366px;
         }
     }
 }