 @import './src/assets/scss/mixin.scss';
 #transition-image {
     margin-top: 53px;
     height: 358px;
     @include breakpoint(desktop) {
         height: 366px;
     }
     @include breakpoint(tablet) {
         height: 366px;
     }
     picture {
         display: flex;
         .backgraund-image {
             height: 358px;
             position: absolute;
             @include breakpoint(desktop) {
                 height: 366px;
             }
             @include breakpoint(tablet) {
                 height: 366px;
             }
         }
     }
     h1 {
         font-size: 30px;
         color: #FFFFFF;
         position: absolute;
         z-index: 1;
         margin-top: 62px;
         width: 100%;
         text-align: center;
         @include breakpoint(desktop) {
             margin-left: 0%;
             width: 100%;
             margin-top: 67px;
             font-size: 40px;
             text-align: center;
         }
         @include breakpoint(tablet) {
             width: 100%;
             margin-left: 0%;
             text-align: center;
             margin-top: 67px;
             font-size: 40px;
         }
     }
     .list-image-item {
         height: 357px;
         .row {
             position: absolute;
             margin-top: 146px;
             margin-right: 0;
             margin-left: 2px;
             @include breakpoint(desktop) {
                 width: 100%;
                 margin-top: 186px;
                 margin-left: 0%;
                 padding-left: 18%;
             }
             @include breakpoint(tablet) {
                 margin-top: 185px;
                 margin-left: 9%;
             }
             li {
                 z-index: 1;
                 height: 62px;
                 list-style: none;
                 margin-right: 38px;
                 margin-bottom: 52px;
                 display: flex;
                 @include breakpoint(desktop) {
                     height: 71px;
                     margin-right: 12%;
                 }
                 @include breakpoint(tablet) {
                     margin-right: 34px;
                 }
             }
         }
     }
     .list-image-item::after {
         content: "";
         background-color: #002b49;
         opacity: 0.7;
         height: 358px;
         width: 100%;
         position: absolute;
         @include breakpoint(desktop) {
             height: 366px;
         }
         @include breakpoint(tablet) {
             height: 366px;
         }
     }
 }