#timeline {
    height: 30%;
    width: 80%;
    margin: auto;

    #tl-aucnud {
        height: 341px;
    }

    .tl-timenav {
        height: 165px;
    }

    .tl-storyslider {
        height: 588px;
    }
}