@import './src/assets/scss/mixin.scss';

/deep/ {
    #screenshots {

        .tile {
            box-shadow: none;
            text-align: center;

            img {
                max-width: 350px;
                height: 350px;                

                @media (max-width: 1500px) {
                    max-width: 300px;
                    height: 300px;
                }

                @media (max-width: 1230px) {
                    max-width: 250px !important;
                    height: 250px !important;
                }

                @media (max-width: 510px) {
                    max-width: 100px !important;
                    height: 100px !important;
                }

            }
        }

        .ngxcarouselPointDefault .ngxcarouselPoint li {
            width: 15px;
            height: 15px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: #ededed !important;
        }

        .ngxcarouselPointDefault .ngxcarouselPoint li.active {
            background-color: #a6cf24 !important;
            transform: none !important;
        }

        .leftRs {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 25%;
            margin: auto;
            border: none;
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;
            transform: rotate(270deg);
            background-color: transparent;
            background-image: url(/assets/images/up-arrow-angle.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 45px;
            height: 45px;

            @media (max-width: 766px) {
                left: 0;
            }

        }

        .rightRs {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25%;
            margin: auto;
            border: none;
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;
            transform: rotate(90deg);
            background-color: transparent;
            background-image: url(/assets/images/up-arrow-angle.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 45px;
            height: 45px;

            @media (max-width: 766px) {
                right: 0;
            }
        }

        .rightRs:focus,
        .leftRs:focus {
            outline: none;
        }
    }

}