body footer picture img {
  position: absolute;
  height: 466px; }
  @media (min-width: 1025px) {
    body footer picture img {
      height: 181px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer picture img {
      height: 181px; } }

@media (min-width: 1025px) {
  body footer {
    width: 100%; } }

@media (min-width: 1025px) {
  body footer .container-elements {
    width: 100%;
    display: flex; } }

@media (min-width: 668px) and (max-width: 1024px) {
  body footer .container-elements {
    width: 100%;
    display: flex; } }

body footer .container-elements::after {
  content: "";
  background-color: #002b49;
  opacity: 0.83;
  position: absolute;
  height: 464px;
  width: 100%;
  margin-top: -419px; }
  @media (min-width: 1025px) {
    body footer .container-elements::after {
      height: 182px;
      margin-top: 0; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .container-elements::after {
      height: 182px;
      margin-top: 0; } }

body footer .row {
  margin-right: 0px; }
  @media (min-width: 1025px) {
    body footer .row {
      margin-right: -17px; } }

body footer .location {
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  position: relative; }
  body footer .location hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3;
    margin-top: 6px; }
    @media (min-width: 1025px) {
      body footer .location hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location hr {
        display: none; } }
  @media (min-width: 1025px) {
    body footer .location .row {
      margin-left: 39%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location .row {
      margin-left: 149px; } }
  body footer .location .row .site {
    display: none; }
    @media (min-width: 1025px) {
      body footer .location .row .site {
        display: block;
        margin-left: 163px;
        margin-top: -136px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location .row .site {
        display: block;
        margin-left: 163px;
        margin-top: -136px; } }
  body footer .location .row .col-lg h6 {
    margin-left: 25px;
    margin-top: 33px; }
    @media (min-width: 1025px) {
      body footer .location .row .col-lg h6 {
        font-size: 12px;
        margin-left: 41px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location .row .col-lg h6 {
        font-size: 12px;
        margin-left: 41px; } }
  body footer .location .row .col-lg ul {
    list-style: none;
    margin-right: 4%; }
    body footer .location .row .col-lg ul .office {
      margin-top: 10px; }
      @media (min-width: 1025px) {
        body footer .location .row .col-lg ul .office {
          width: 120%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .location .row .col-lg ul .office {
          width: 120%; } }
    body footer .location .row .col-lg ul .office::before {
      content: "";
      background-image: url("../icon/placeholders.png");
      padding-left: 16px;
      padding-top: 2px; }
    body footer .location .row .col-lg ul .office:hover::before {
      background-image: url("../icon/placeholders-green.png"); }
    body footer .location .row .col-lg ul li {
      color: #c1cbd3;
      font-size: 12px; }
      body footer .location .row .col-lg ul li a {
        color: #c1cbd3;
        margin-left: 1%; }
      body footer .location .row .col-lg ul li a:hover {
        color: #a6cf24; }
      @media (min-width: 1025px) {
        body footer .location .row .col-lg ul li {
          margin-right: 25%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .location .row .col-lg ul li {
          margin-right: 25%; } }
  @media (min-width: 1025px) {
    body footer .location .row .col-lg .addres-phone {
      margin-right: 37px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location .row .col-lg .addres-phone {
      margin-right: 37px; } }
  body footer .location .row .col-lg .addres-phone .addres {
    width: 125px; }
  @media (min-width: 1025px) {
    body footer .location {
      width: 40%;
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location {
      width: 46%;
      text-align: left;
      margin-left: -123px; } }

body footer .location::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .location::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: 46%;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: 185px;
      opacity: 0.3; } }

body footer .newsletter {
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  position: relative; }
  body footer .newsletter hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3; }
    @media (min-width: 1025px) {
      body footer .newsletter hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .newsletter hr {
        display: none; } }
  body footer .newsletter .row .col-lg-12 a {
    margin-left: 3%; }
  body footer .newsletter .row .col-lg-12 h6 {
    margin-left: 7%; }
    @media (min-width: 1025px) {
      body footer .newsletter .row .col-lg-12 h6 {
        margin-top: 32px;
        font-size: 12px;
        margin-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .newsletter .row .col-lg-12 h6 {
        margin-top: 32px;
        font-size: 12px;
        margin-left: 0; } }
  body footer .newsletter .row .col-lg-12 ul {
    list-style: none;
    margin-right: 4%; }
    body footer .newsletter .row .col-lg-12 ul li {
      color: #c1cbd3;
      font-size: 75%; }
      @media (min-width: 1025px) {
        body footer .newsletter .row .col-lg-12 ul li {
          width: 158px;
          font-size: 11px;
          margin-left: 13%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .newsletter .row .col-lg-12 ul li {
          width: 158px;
          font-size: 11px;
          margin-left: 13%; } }

body footer .newsletter::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .newsletter::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: -63px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .newsletter::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: -63px;
      opacity: 0.3; } }

body footer .contac {
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  position: relative; }
  body footer .contac hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3;
    margin-top: 0; }
    @media (min-width: 1025px) {
      body footer .contac hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac hr {
        display: none; } }
  body footer .contac .row .col-lg-12 a {
    color: #c1cbd3; }
  body footer .contac .row .col-lg-12 a:hover {
    color: #a6cf24; }
  body footer .contac .row .col-lg-12 .icon-social {
    margin-top: -6px;
    margin-left: 39%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 .icon-social {
        margin-left: 29%;
        width: 100%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 .icon-social {
        margin-left: 29%;
        width: 100%; } }
    body footer .contac .row .col-lg-12 .icon-social .fa-twitter, body footer .contac .row .col-lg-12 .icon-social .fa-facebook-f, body footer .contac .row .col-lg-12 .icon-social .fa-google-plus-g {
      margin-left: 19px; }
    body footer .contac .row .col-lg-12 .icon-social ul li {
      font-size: 24px; }
      @media (min-width: 1025px) {
        body footer .contac .row .col-lg-12 .icon-social ul li {
          font-size: 21px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .contac .row .col-lg-12 .icon-social ul li {
          font-size: 21px; } }
  body footer .contac .row .col-lg-12 .icon:hover {
    color: #a6cf24; }
  body footer .contac .row .col-lg-12 h6 {
    margin-left: 7%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 h6 {
        font-size: 12px;
        margin-left: 13px;
        margin-right: 12px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 h6 {
        font-size: 12px;
        margin-left: 13px;
        margin-right: 12px; } }
  body footer .contac .row .col-lg-12 .mail {
    margin-left: 12%; }
    body footer .contac .row .col-lg-12 .mail .fa-li {
      margin-left: 31%;
      margin-top: 2px; }
      @media (min-width: 1025px) {
        body footer .contac .row .col-lg-12 .mail .fa-li {
          margin-left: 0;
          margin-top: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .contac .row .col-lg-12 .mail .fa-li {
          margin-left: 0;
          margin-top: 0; } }
    body footer .contac .row .col-lg-12 .mail li {
      font-size: 75%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 .mail {
        margin-left: 31%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 .mail {
        margin-left: 31%; } }
  @media (min-width: 1025px) {
    body footer .contac {
      margin-top: 32px;
      margin-left: 3%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .contac {
      margin-top: 32px;
      margin-left: 3%; } }

body footer .contac::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .contac::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -65px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .contac::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -65px;
      opacity: 0.3; } }

body footer .logo {
  text-align: center;
  z-index: 1;
  position: relative; }
  body footer .logo .row .col-lg-12 a {
    margin-left: 3%; }
  body footer .logo .row .col-lg-12 h6 {
    color: #c1cbd3;
    margin-left: 8%;
    font-size: 75%;
    margin-bottom: 25px; }
    @media (min-width: 1025px) {
      body footer .logo .row .col-lg-12 h6 {
        margin-top: 6px;
        width: 97%;
        font-size: 11px;
        margin-left: 14%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .logo .row .col-lg-12 h6 {
        margin-top: 6px;
        width: 135px;
        font-size: 11px;
        margin-left: 3%; } }
  body footer .logo .row .col-lg-12 img {
    display: none; }
    @media (min-width: 1025px) {
      body footer .logo .row .col-lg-12 img {
        margin-left: 15%;
        display: block; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .logo .row .col-lg-12 img {
        display: block; } }
  @media (min-width: 1025px) {
    body footer .logo {
      margin-top: 32px;
      margin-left: 4%;
      width: 11%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .logo {
      margin-top: 32px;
      margin-left: 7%;
      width: 11%; } }

body footer .logo::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .logo::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -71px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .logo::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -71px;
      opacity: 0.3; } }

body footer .privacy {
  width: 100%; }
  @media (min-width: 1025px) {
    body footer .privacy {
      width: 98.7%; } }
  body footer .privacy .row .col-lg-12 {
    background-color: #002b49;
    opacity: 0.8;
    color: #FFFFFF;
    text-align: center;
    height: 47px; }
    body footer .privacy .row .col-lg-12 .politics::after {
      content: ".";
      margin: 10px; }
    body footer .privacy .row .col-lg-12 .sites::after {
      content: ".";
      margin: 10px; }
    body footer .privacy .row .col-lg-12 .politics-site {
      margin-top: 17px;
      font-size: 11px;
      margin-left: 8%; }
      body footer .privacy .row .col-lg-12 .politics-site a {
        color: #FFFFFF; }
      @media (min-width: 1025px) {
        body footer .privacy .row .col-lg-12 .politics-site {
          margin-top: 14px;
          text-align: center;
          margin-left: 0%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .privacy .row .col-lg-12 .politics-site {
          margin-top: 16px;
          text-align: center;
          margin-left: 0%; } }
    @media (min-width: 1025px) {
      body footer .privacy .row .col-lg-12 {
        height: 46px; } }
