 @import './src/assets/scss/mixin.scss';

 #main-title {
     color: #002b49;
     text-align: center;
     margin-top: 40px;

     @include breakpoint (phone) {
         margin-top: 20px;
         margin-bottom: 20px !important;
     }

     @include breakpoint (tablet) {
         margin-top: 20px;
         margin-bottom: 20px !important;
     }

     h2 {
         margin-left: 3%;
         font-size: 30px;
         transform: scaleY(1.2);
         letter-spacing: -2px;

         @include breakpoint(desktop) {
             margin-left: 0;
             font-size: 40px;
             width: 100%;
         }

         @include breakpoint(tablet) {
             margin-left: 0;
             font-size: 40px;
             width: 100%;
         }
     }
 }