<app-banner imgFondo="" uuid="e58b3214-c259-4bd2-b6ba-2f81c9ba86b4"></app-banner>
<app-separator [iconCustom]="'icon-startproject'"></app-separator>
<app-whybitsamericas></app-whybitsamericas>
<app-separator [iconCustom]="'icon-engranaje'"></app-separator>
<app-history></app-history>
<app-separator [iconCustom]="'icon-medal'"></app-separator>
<app-carousel-controls></app-carousel-controls>
<app-alliances></app-alliances>
<app-separator [iconCustom]="'icon-people'"></app-separator>
<app-knowus></app-knowus>
<app-separator [iconCustom]="'icon-people'"></app-separator>
<app-workwithus-proserv></app-workwithus-proserv>