.item {
    margin-bottom: 20px;

    .title {
        font-family: 'Open Sans light';
        font-size: 24px;
        color: #002b49;
        font-weight: 700;
    }

    a {
        color: #517bbd !important;
        font-weight: 700;
    }

    .info-content {
        margin-bottom: 10px;
        font-size: 20px;
        font-family: 'Open Sans light';
    }
}