<div class="carousel-item window-complete">
    <picture>
        <source media="(max-width:500px)" srcset="assets/images/movil.jpg">
        <img class="d-block w-100" src="assets/images/Banner inicio.jpg" alt="html">
        <div class="carousel-caption  d-md-block text-slider">
            <h1 class="title-slider">Desarrollo de software a la medida</h1>
            <p class="description-slider">Optimizamos los procesos de su negocio por medio de desarrollo de software adapatados a la necesidad especifica, con estandares de calidad</p>
        </div>
    </picture>
</div>