body {
  width: 100%;
  font-family: 'Roboto', sans-serif; }

body footer picture img {
  position: absolute;
  height: 466px; }
  @media (min-width: 1025px) {
    body footer picture img {
      height: 181px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer picture img {
      height: 181px; } }

@media (min-width: 1025px) {
  body footer {
    width: 100%; } }

body footer .container-elements {
  background-color: #002b49;
  opacity: 0.83; }
  @media (min-width: 1025px) {
    body footer .container-elements {
      width: 100%;
      display: flex; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .container-elements {
      width: 100%;
      display: flex; } }

body footer .row {
  margin-right: 0px; }
  @media (min-width: 1025px) {
    body footer .row {
      margin-right: -17px; } }

body footer .location {
  color: #FFFFFF;
  text-align: center; }
  body footer .location hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3;
    margin-top: 6px; }
    @media (min-width: 1025px) {
      body footer .location hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location hr {
        display: none; } }
  @media (min-width: 1025px) {
    body footer .location .row {
      margin-left: 39%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location .row {
      margin-left: 149px; } }
  body footer .location .row .site {
    display: none; }
    @media (min-width: 1025px) {
      body footer .location .row .site {
        display: block;
        margin-left: 163px;
        margin-top: -136px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location .row .site {
        display: block;
        margin-left: 163px;
        margin-top: -136px; } }
  body footer .location .row .col-lg h6 {
    margin-left: 25px;
    margin-top: 33px; }
    @media (min-width: 1025px) {
      body footer .location .row .col-lg h6 {
        font-size: 12px;
        margin-left: 41px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .location .row .col-lg h6 {
        font-size: 12px;
        margin-left: 41px; } }
  body footer .location .row .col-lg ul {
    list-style: none;
    margin-right: 4%; }
    body footer .location .row .col-lg ul .office {
      margin-top: 10px; }
      @media (min-width: 1025px) {
        body footer .location .row .col-lg ul .office {
          width: 120%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .location .row .col-lg ul .office {
          width: 120%; } }
    body footer .location .row .col-lg ul .office::before {
      content: "";
      background-image: url("../icon/placeholders.png");
      padding-left: 16px;
      padding-top: 2px; }
    body footer .location .row .col-lg ul .office:hover::before {
      background-image: url("../icon/placeholders-green.png"); }
    body footer .location .row .col-lg ul li {
      color: #c1cbd3;
      font-size: 12px; }
      body footer .location .row .col-lg ul li a {
        color: #c1cbd3;
        margin-left: 1%; }
      body footer .location .row .col-lg ul li a:hover {
        color: #a6cf24; }
      @media (min-width: 1025px) {
        body footer .location .row .col-lg ul li {
          margin-right: 25%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .location .row .col-lg ul li {
          margin-right: 25%; } }
  @media (min-width: 1025px) {
    body footer .location .row .col-lg .addres-phone {
      margin-right: 37px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location .row .col-lg .addres-phone {
      margin-right: 37px; } }
  body footer .location .row .col-lg .addres-phone .addres {
    width: 125px; }
  @media (min-width: 1025px) {
    body footer .location {
      width: 40%;
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location {
      width: 46%;
      text-align: left;
      margin-left: -123px; } }

body footer .location::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .location::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: 18%;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .location::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: 185px;
      opacity: 0.3; } }

body footer .newsletter {
  color: #FFFFFF;
  text-align: center; }
  body footer .newsletter hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3; }
    @media (min-width: 1025px) {
      body footer .newsletter hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .newsletter hr {
        display: none; } }
  body footer .newsletter .row .col-lg-12 a {
    margin-left: 3%; }
  body footer .newsletter .row .col-lg-12 h6 {
    margin-left: 7%; }
    @media (min-width: 1025px) {
      body footer .newsletter .row .col-lg-12 h6 {
        margin-top: 32px;
        font-size: 12px;
        margin-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .newsletter .row .col-lg-12 h6 {
        margin-top: 32px;
        font-size: 12px;
        margin-left: 0; } }
  body footer .newsletter .row .col-lg-12 ul {
    list-style: none;
    margin-right: 4%; }
    body footer .newsletter .row .col-lg-12 ul li {
      color: #c1cbd3;
      font-size: 75%; }
      @media (min-width: 1025px) {
        body footer .newsletter .row .col-lg-12 ul li {
          width: 158px;
          font-size: 11px;
          margin-left: 13%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .newsletter .row .col-lg-12 ul li {
          width: 158px;
          font-size: 11px;
          margin-left: 13%; } }

body footer .newsletter::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .newsletter::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: -63px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .newsletter::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 37px;
      margin-left: -63px;
      opacity: 0.3; } }

body footer .contac {
  color: #FFFFFF;
  text-align: center; }
  body footer .contac hr {
    width: 50%;
    background-color: #dfdfdf;
    margin-left: 28%;
    opacity: 0.3;
    margin-top: 0; }
    @media (min-width: 1025px) {
      body footer .contac hr {
        display: none; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac hr {
        display: none; } }
  body footer .contac .row .col-lg-12 a {
    color: #c1cbd3; }
  body footer .contac .row .col-lg-12 a:hover {
    color: #a6cf24; }
  body footer .contac .row .col-lg-12 .icon-social {
    margin-top: -6px;
    margin-left: 23%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 .icon-social {
        margin-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 .icon-social {
        margin-left: 0; } }
    body footer .contac .row .col-lg-12 .icon-social .fa-twitter, body footer .contac .row .col-lg-12 .icon-social .fa-facebook-f, body footer .contac .row .col-lg-12 .icon-social .fa-google-plus-g {
      margin-left: 19px; }
    body footer .contac .row .col-lg-12 .icon-social ul li {
      font-size: 24px; }
      @media (min-width: 1025px) {
        body footer .contac .row .col-lg-12 .icon-social ul li {
          font-size: 21px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .contac .row .col-lg-12 .icon-social ul li {
          font-size: 21px; } }
  body footer .contac .row .col-lg-12 .icon:hover {
    color: #a6cf24; }
  body footer .contac .row .col-lg-12 h6 {
    margin-left: 7%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 h6 {
        font-size: 12px;
        margin-left: 13px;
        margin-right: 12px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 h6 {
        font-size: 12px;
        margin-left: 13px;
        margin-right: 12px; } }
  body footer .contac .row .col-lg-12 .mail {
    margin-left: 12%; }
    body footer .contac .row .col-lg-12 .mail .fa-li {
      margin-left: 31%; }
      @media (min-width: 1025px) {
        body footer .contac .row .col-lg-12 .mail .fa-li {
          margin-left: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .contac .row .col-lg-12 .mail .fa-li {
          margin-left: 0; } }
    body footer .contac .row .col-lg-12 .mail li {
      font-size: 75%; }
    @media (min-width: 1025px) {
      body footer .contac .row .col-lg-12 .mail {
        margin-left: 36%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .contac .row .col-lg-12 .mail {
        margin-left: 36%; } }
  @media (min-width: 1025px) {
    body footer .contac {
      margin-top: 32px;
      margin-left: 3%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .contac {
      margin-top: 32px;
      margin-left: 3%; } }

body footer .contac::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .contac::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -65px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .contac::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -65px;
      opacity: 0.3; } }

body footer .logo {
  text-align: center; }
  body footer .logo .row .col-lg-12 a {
    margin-left: 3%; }
  body footer .logo .row .col-lg-12 h6 {
    color: #c1cbd3;
    margin-left: 8%;
    font-size: 75%;
    margin-bottom: 25px; }
    @media (min-width: 1025px) {
      body footer .logo .row .col-lg-12 h6 {
        margin-top: 6px;
        width: 97%;
        font-size: 11px;
        margin-left: 14%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .logo .row .col-lg-12 h6 {
        margin-top: 6px;
        width: 135px;
        font-size: 11px;
        margin-left: 3%; } }
  body footer .logo .row .col-lg-12 img {
    display: none; }
    @media (min-width: 1025px) {
      body footer .logo .row .col-lg-12 img {
        margin-left: 15%;
        display: block; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .logo .row .col-lg-12 img {
        display: block; } }
  @media (min-width: 1025px) {
    body footer .logo {
      margin-top: 32px;
      margin-left: 3%;
      width: 11%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .logo {
      margin-top: 32px;
      margin-left: 6%;
      width: 11%; } }

body footer .logo::before {
  content: ""; }
  @media (min-width: 1025px) {
    body footer .logo::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -71px;
      opacity: 0.3; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body footer .logo::before {
      border-left: 1px solid #c1cbd3;
      position: absolute;
      height: 81px;
      margin-top: 6px;
      margin-left: -71px;
      opacity: 0.3; } }

header .inverse-color {
  background: #ffffff; }

header .tigger-menu {
  background: #ffffff;
  color: #002b49; }

header nav {
  width: 100%;
  padding-top: 6%;
  border-bottom: 1px solid   transparent;
  position: fixed;
  float: left;
  font-weight: bold;
  background: transparent;
  text-decoration: none;
  z-index: 1020; }
  @media (min-width: 668px) and (max-width: 1024px) {
    header nav {
      padding-top: 0%;
      width: 100%;
      position: fixed; } }
  @media (min-width: 1025px) {
    header nav {
      float: right;
      padding-top: 0%;
      width: 100%;
      position: fixed;
      text-align: right; } }
  header nav .menuToggle {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1; }
    @media (min-width: 668px) and (max-width: 1024px) {
      header nav .menuToggle {
        top: 22px; } }
    header nav .menuToggle .Botton {
      display: block;
      width: 22%;
      height: auto;
      position: absolute;
      left: 75%;
      cursor: pointer;
      opacity: 0;
      z-index: 2; }
      @media (min-width: 1025px) {
        header nav .menuToggle .Botton {
          display: none; } }
    header nav .menuToggle .Botton:checked ~ .lines {
      opacity: 1;
      transform: rotate(45deg) translate(1px, 0px);
      background: #0c7ffb; }
    header nav .menuToggle .Botton:checked ~ .lines:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    header nav .menuToggle .Botton:checked ~ .lines:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(1px, 2px); }
    header nav .menuToggle .Botton:checked ~ .list-menu {
      display: block;
      transform: none; }
    header nav .menuToggle .lines {
      display: block;
      width: 26px;
      height: 2.4px;
      margin-bottom: 5px;
      margin-left: 81%;
      position: relative;
      background: #ffffff;
      border-radius: 30%;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      @media (min-width: 1025px) {
        header nav .menuToggle .lines {
          display: none; } }
    header nav .menuToggle .color-scroll {
      background: #0c7ffb; }
    header nav .menuToggle .lines:first-child {
      transform-origin: 0% 0%; }
    header nav .menuToggle .lines:nth-last-child(2) {
      transform-origin: 0% 100%;
      margin-bottom: 8%; }
    header nav .menuToggle ul {
      margin-bottom: 0; }
    header nav .menuToggle .list-menu {
      padding-left: 0%;
      width: 100%;
      position: relative;
      display: none;
      -webkit-font-smoothing: antialiased;
      transform: translate(0, -100%);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      @media (min-width: 1025px) {
        header nav .menuToggle .list-menu {
          display: block;
          transform: initial;
          transition-delay: initial; } }
      header nav .menuToggle .list-menu .items {
        list-style: none;
        padding-bottom: 7%;
        padding-top: 7%;
        padding-left: 12%;
        border-bottom: 1px solid #f5fafc; }
        @media (min-width: 1025px) {
          header nav .menuToggle .list-menu .items {
            width: 8%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 0%;
            padding-right: 0%;
            border-bottom: initial;
            display: inline-block; } }
        header nav .menuToggle .list-menu .items:nth-child(1) {
          border-top: 1px solid #cfe3ee; }
          @media (min-width: 668px) and (max-width: 1024px) {
            header nav .menuToggle .list-menu .items:nth-child(1) {
              border-top: initial; } }
          @media (min-width: 1025px) {
            header nav .menuToggle .list-menu .items:nth-child(1) {
              border-top: initial; } }
        @media (min-width: 1025px) {
          header nav .menuToggle .list-menu .items:nth-child(7) {
            padding-right: 3%; } }
        header nav .menuToggle .list-menu .items .link {
          color: #ffffff;
          width: 100%;
          font-size: 15px;
          text-decoration: none;
          text-align: left;
          padding-right: 73%;
          font-family: open_sanslight; }
          header nav .menuToggle .list-menu .items .link:hover {
            color: #a6cf24;
            text-decoration: none; }
          @media (min-width: 1025px) {
            header nav .menuToggle .list-menu .items .link {
              padding-left: 12%;
              padding-right: 12%;
              padding-top: 29px; }
              header nav .menuToggle .list-menu .items .link:hover {
                border-top: 4px solid #a6cf24; } }
          header nav .menuToggle .list-menu .items .link .arrow {
            padding-left: 59%; }
            @media (min-width: 668px) and (max-width: 1024px) {
              header nav .menuToggle .list-menu .items .link .arrow {
                padding-left: 6%; } }
            @media (min-width: 1025px) {
              header nav .menuToggle .list-menu .items .link .arrow {
                padding-left: 0%;
                padding-right: 0%;
                padding-top: 0%; } }
          header nav .menuToggle .list-menu .items .link .arrow-service {
            padding-left: 61.2%; }
            @media (min-width: 668px) and (max-width: 1024px) {
              header nav .menuToggle .list-menu .items .link .arrow-service {
                padding-left: 7.2%; } }
            @media (min-width: 1025px) {
              header nav .menuToggle .list-menu .items .link .arrow-service {
                padding-left: 0%; } }
        header nav .menuToggle .list-menu .items .scroll-white {
          color: #002b49; }
      header nav .menuToggle .list-menu .language {
        list-style: none; }

header .logo {
  width: 15%;
  position: fixed;
  z-index: 1022; }
  header .logo .container-logo {
    width: 100%;
    padding-left: 50%;
    padding-top: 28%;
    position: relative;
    z-index: 100; }
    @media (min-width: 668px) and (max-width: 1024px) {
      header .logo .container-logo {
        padding-top: 20%; } }
    @media (min-width: 1025px) {
      header .logo .container-logo {
        padding-top: 4%;
        padding-left: 43%; } }
    header .logo .container-logo .image-url {
      width: 100%;
      position: relative;
      left: 28%; }
      header .logo .container-logo .image-url img {
        width: 90px; }
        @media (min-width: 1025px) {
          header .logo .container-logo .image-url img {
            width: 100%;
            padding-left: 4%;
            padding-top: 2%; } }

body footer .privacy {
  width: 100%; }
  @media (min-width: 1025px) {
    body footer .privacy {
      width: 98.7%; } }
  body footer .privacy .row .col-lg-12 {
    background-color: #002b49;
    opacity: 0.93;
    color: #FFFFFF;
    text-align: center;
    height: 47px; }
    body footer .privacy .row .col-lg-12 .politics::after {
      content: ".";
      margin: 10px; }
    body footer .privacy .row .col-lg-12 .sites::after {
      content: ".";
      margin: 10px; }
    body footer .privacy .row .col-lg-12 .politics-site {
      margin-top: 17px;
      font-size: 11px;
      margin-left: 8%; }
      body footer .privacy .row .col-lg-12 .politics-site a {
        color: #FFFFFF; }
      @media (min-width: 1025px) {
        body footer .privacy .row .col-lg-12 .politics-site {
          margin-top: 14px;
          text-align: center;
          margin-left: 0%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .privacy .row .col-lg-12 .politics-site {
          margin-top: 16px;
          text-align: center;
          margin-left: 0%; } }
    @media (min-width: 1025px) {
      body footer .privacy .row .col-lg-12 {
        height: 46px; } }

.social-networks .icon-social {
  display: none; }

@media (min-width: 1025px) {
  .social-networks {
    width: 41px;
    height: 154px;
    background-color: #517bbd;
    opacity: 0.7;
    position: fixed;
    margin-top: 396px;
    z-index: 1; }
    .social-networks .icon-social {
      display: block; }
      .social-networks .icon-social .row {
        margin-left: 38px;
        width: 0; }
        .social-networks .icon-social .row li {
          margin-right: 1px;
          margin-bottom: 25px; }
        .social-networks .icon-social .row a {
          display: block;
          color: #FFFFFF;
          margin-top: 11px; }
        .social-networks .icon-social .row a:hover {
          color: #a6cf24; } }

@media (min-width: 668px) and (max-width: 1024px) {
  .social-networks {
    width: 41px;
    height: 154px;
    background-color: #517bbd;
    opacity: 0.7;
    position: fixed;
    margin-top: 396px;
    z-index: 1; }
    .social-networks .icon-social {
      display: block; }
      .social-networks .icon-social .row {
        margin-left: 38px;
        width: 0; }
        .social-networks .icon-social .row li {
          margin-right: 1px;
          margin-bottom: 25px; }
        .social-networks .icon-social .row a {
          display: block;
          color: #FFFFFF;
          margin-top: 11px; }
        .social-networks .icon-social .row a:hover {
          color: #a6cf24; } }

.envolope {
  width: 41px;
  height: 41px;
  background-color: #a6cf24;
  opacity: 0.7;
  position: fixed;
  border-radius: 200px;
  margin-left: 65%;
  margin-top: 573px; }
  .envolope .icon-mail {
    font-size: 22px;
    margin-top: 5px;
    margin-left: -12px; }
    .envolope .icon-mail a {
      color: #FFFFFF; }
  @media (min-width: 1025px) {
    .envolope {
      width: 41px;
      height: 41px;
      background-color: #a6cf24;
      opacity: 0.7;
      position: fixed;
      border-radius: 0;
      margin-top: 592px;
      margin-left: 0;
      z-index: 1; }
      .envolope .icon-mail {
        margin-left: -13px;
        font-size: 22px;
        margin-top: 5px; }
        .envolope .icon-mail a {
          color: #FFFFFF; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    .envolope {
      width: 41px;
      height: 41px;
      background-color: #a6cf24;
      opacity: 0.7;
      position: fixed;
      margin-top: 592px;
      border-radius: 0;
      margin-left: 0;
      z-index: 1; }
      .envolope .icon-mail {
        margin-left: -13px;
        text-align: center;
        font-size: 22px;
        margin-top: 6px; }
        .envolope .icon-mail a {
          color: #FFFFFF; } }

.Slider .carousel-slider {
  width: 100%; }
  .Slider .carousel-slider .slider-botton {
    bottom: 18%;
    margin-left: 15%; }
    @media (min-width: 668px) and (max-width: 1024px) {
      .Slider .carousel-slider .slider-botton {
        margin-left: 78%;
        margin-right: 6%; } }
    @media (min-width: 1025px) {
      .Slider .carousel-slider .slider-botton {
        margin-left: 81%;
        margin-right: 4%; } }
    .Slider .carousel-slider .slider-botton .circle-botton {
      background-color: #ffffff;
      border-radius: 100%;
      margin-left: 5.2%;
      width: 14px;
      height: 14px; }
    .Slider .carousel-slider .slider-botton .active {
      background-color: #9db232; }
  @media (min-width: 1025px) {
    .Slider .carousel-slider .window-complete {
      height: 100vh; } }
  .Slider .carousel-slider .window-complete .text-slider {
    bottom: 19.5%;
    left: 14%;
    padding-bottom: initial; }
    @media (min-width: 668px) and (max-width: 1024px) {
      .Slider .carousel-slider .window-complete .text-slider {
        width: 76%;
        left: 16%;
        text-align: right; } }
    @media (min-width: 1025px) {
      .Slider .carousel-slider .window-complete .text-slider {
        width: 76%;
        left: 16%;
        text-align: right; } }
    .Slider .carousel-slider .window-complete .text-slider .title-slider {
      font-size: 36px; }
      @media (min-width: 668px) and (max-width: 1024px) {
        .Slider .carousel-slider .window-complete .text-slider .title-slider {
          font-size: 50px; } }
      @media (min-width: 1025px) {
        .Slider .carousel-slider .window-complete .text-slider .title-slider {
          font-size: 50px; } }
    .Slider .carousel-slider .window-complete .text-slider .description-slider {
      font-size: 18px;
      font-family: open_sanslight; }
      @media (min-width: 668px) and (max-width: 1024px) {
        .Slider .carousel-slider .window-complete .text-slider .description-slider {
          position: relative;
          line-height: 1.2;
          font-size: 28px;
          width: 88%;
          left: 11%; } }
      @media (min-width: 1025px) {
        .Slider .carousel-slider .window-complete .text-slider .description-slider {
          position: relative;
          line-height: 1.2;
          font-size: 28px;
          width: 88%;
          left: 12%; } }
  .Slider .carousel-slider .icon-mobile {
    display: none; }
    @media (min-width: 1025px) {
      .Slider .carousel-slider .icon-mobile {
        display: initial; } }
  .Slider .carousel-slider .down-main {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    bottom: 46px;
    left: 43.2%; }
    .Slider .carousel-slider .down-main::after {
      content: "EXPLORAR";
      position: relative;
      background: transparent;
      right: 16%;
      bottom: 30px;
      color: #ffffff; }
      @media (min-width: 668px) and (max-width: 1024px) {
        .Slider .carousel-slider .down-main::after {
          bottom: 18px;
          right: 6%; } }
      @media (min-width: 1025px) {
        .Slider .carousel-slider .down-main::after {
          bottom: 30px;
          right: 4.9%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      .Slider .carousel-slider .down-main {
        bottom: 56px;
        left: 48.2%; } }
    @media (min-width: 1025px) {
      .Slider .carousel-slider .down-main {
        bottom: 56px;
        left: 48.2%; } }
    .Slider .carousel-slider .down-main .arrow-down {
      width: 12%;
      left: 2%;
      position: relative; }
      @media (min-width: 668px) and (max-width: 1024px) {
        .Slider .carousel-slider .down-main .arrow-down {
          width: 4%;
          left: 0; } }
      @media (min-width: 1025px) {
        .Slider .carousel-slider .down-main .arrow-down {
          width: 3%;
          left: 0; } }
  @media (min-width: 1025px) {
    .Slider .carousel-slider .icon-prev {
      height: 11%;
      width: 17%;
      bottom: 5%;
      margin-right: 82%;
      position: relative;
      background: rgba(0, 0, 0, 0.63);
      background-image: url("../images/back-white.svg");
      background-size: 94%;
      background-position: center;
      background-repeat: no-repeat; } }
  @media (min-width: 1025px) {
    .Slider .carousel-slider .icon-next {
      height: 11%;
      width: 17%;
      bottom: 5%;
      margin-left: 81%;
      position: relative;
      background: rgba(0, 0, 0, 0.63);
      background-image: url("../images/next-white.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 94%; } }

body .page-header {
  height: 352px; }
  body .page-header .title {
    position: absolute;
    margin-top: 178px;
    color: #FFFFFF;
    margin-left: 15%; }
    @media (min-width: 1025px) {
      body .page-header .title {
        margin-left: 37%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body .page-header .title {
        margin-left: 37%; } }
    body .page-header .title h1 {
      font-size: 36px; }
      @media (min-width: 1025px) {
        body .page-header .title h1 {
          font-size: 50px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body .page-header .title h1 {
          font-size: 50px; } }
  body .page-header picture img {
    width: 100%;
    height: 352px; }

body main .main-title {
  color: #002b49;
  text-align: center;
  margin-top: 60px; }
  @media (min-width: 1025px) {
    body main .main-title {
      margin-top: 80px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .main-title {
      margin-top: 80px; } }
  body main .main-title h1 {
    margin-left: 3%;
    font-size: 30px; }
    @media (min-width: 1025px) {
      body main .main-title h1 {
        margin-left: 0;
        font-size: 40px;
        width: 100%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .main-title h1 {
        margin-left: 0;
        font-size: 40px;
        width: 100%; } }

main .WhyBits {
  width: 96%;
  margin-top: 39px; }
  @media (min-width: 1025px) {
    main .WhyBits {
      width: 98%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    main .WhyBits {
      width: 98%; } }
  main .WhyBits .images-whybits .images {
    margin-left: 0; }
    @media (min-width: 1025px) {
      main .WhyBits .images-whybits .images {
        margin-left: 9%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      main .WhyBits .images-whybits .images {
        margin-left: 5%; } }
    main .WhyBits .images-whybits .images li {
      list-style: none;
      margin-right: 25px;
      margin-top: 17px;
      text-align: center; }
      @media (min-width: 1025px) {
        main .WhyBits .images-whybits .images li {
          margin-right: 8%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        main .WhyBits .images-whybits .images li {
          margin-right: 5%; } }
      main .WhyBits .images-whybits .images li p {
        font-size: 20px;
        width: 133px;
        margin-top: 16px; }
        @media (min-width: 1025px) {
          main .WhyBits .images-whybits .images li p {
            font-size: 24px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          main .WhyBits .images-whybits .images li p {
            font-size: 24px; } }
    main .WhyBits .images-whybits .images li:last-child {
      margin-left: 24%; }
      @media (min-width: 1025px) {
        main .WhyBits .images-whybits .images li:last-child {
          margin-left: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        main .WhyBits .images-whybits .images li:last-child {
          margin-left: 0; } }

#Services {
  height: 1122px;
  margin-top: 2%;
  overflow: hidden; }
  @media (min-width: 668px) and (max-width: 1024px) {
    #Services {
      height: auto; } }
  @media (min-width: 1025px) {
    #Services {
      height: 906px; } }
  #Services .block-title {
    height: 142px;
    width: 100%;
    background: #f7f9f9; }
    @media (min-width: 1025px) {
      #Services .block-title {
        height: 185px; } }
    #Services .block-title h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 40px;
      margin: 0%;
      z-index: 100;
      color: #002b49;
      padding: 0%;
      padding-top: 11%;
      padding-top: 81px;
      padding-bottom: 61px; }
      @media (min-width: 1025px) {
        #Services .block-title h2 {
          margin: initial;
          padding-top: 81px; } }
  #Services .container {
    width: 100%;
    position: relative;
    height: 690px;
    padding-left: 0%;
    padding-left: 0%; }
    @media (min-width: 1025px) {
      #Services .container {
        height: 895px;
        padding: 0%; } }
  #Services .gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: #58595a; }
  #Services .tz-gallery {
    height: auto; }
    #Services .tz-gallery .row {
      width: 100%;
      height: 50%;
      margin: 0%; }
      #Services .tz-gallery .row .col-md-4 {
        height: 372px;
        padding: 0%; }
        @media (max-width: 667px) {
          #Services .tz-gallery .row .col-md-4:nth-child(1n+4) {
            display: none; } }
        @media (min-width: 1025px) {
          #Services .tz-gallery .row .col-md-4 {
            height: 453px; } }
  #Services .tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02); }
  #Services .tz-gallery .caption {
    padding: 26px 30px;
    text-align: center; }
  #Services .tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0; }
  #Services .tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0; }
  #Services .baguetteBox-button {
    background-color: transparent; }
  #Services .tz-gallery .thumbnai {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 30px;
    border: none;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06); }
    #Services .tz-gallery .thumbnai .lightbox {
      height: 100%;
      width: 100%; }
    #Services .tz-gallery .thumbnai .images {
      width: 100%;
      height: 100%;
      filter: brightness(86%) grayscale(51%);
      width: 100%;
      height: 100%; }
    #Services .tz-gallery .thumbnai .box-info {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 43, 73, 0.62);
      position: absolute;
      bottom: 0%;
      padding-right: 14%;
      padding-left: 14%; }
      @media (min-width: 1025px) {
        #Services .tz-gallery .thumbnai .box-info {
          transition: all ease 0.89s;
          visibility: hidden;
          top: 100%; } }
      #Services .tz-gallery .thumbnai .box-info .box-botton {
        position: relative;
        top: 88%; }
        @media (min-width: 1025px) {
          #Services .tz-gallery .thumbnai .box-info .box-botton {
            top: 81%; } }
      #Services .tz-gallery .thumbnai .box-info .botton_products {
        position: relative;
        border: none;
        left: 32%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-transform: uppercase;
        text-align: center;
        color: #8ECE17;
        text-decoration: none;
        font-family: open_sansregular;
        visibility: hidden; }
        #Services .tz-gallery .thumbnai .box-info .botton_products::after {
          content: '';
          position: relative;
          right: 24%;
          top: 5px;
          padding-left: 17%;
          padding-right: 17%;
          padding-top: 17%;
          background-image: url("../images/mas.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 35px;
          visibility: visible; }
        @media (min-width: 1025px) {
          #Services .tz-gallery .thumbnai .box-info .botton_products {
            left: 28%;
            margin-right: initial;
            margin-left: initial;
            padding-left: 8.5%;
            padding-right: 8.5%;
            padding-top: 3.5%;
            padding-bottom: 3.5%;
            border: solid 1px #8ECE17;
            border-radius: 3%;
            color: #8ECE17;
            font-size: 20px;
            visibility: visible; }
            #Services .tz-gallery .thumbnai .box-info .botton_products::after {
              content: '';
              visibility: hidden;
              padding-right: initial;
              padding-left: initial; } }
    #Services .tz-gallery .thumbnai .box-title {
      position: relative;
      bottom: 93%;
      padding-left: 9%;
      padding-right: 9%;
      text-align: center;
      z-index: 10; }
      @media (min-width: 1025px) {
        #Services .tz-gallery .thumbnai .box-title {
          float: right;
          clear: both;
          bottom: 61%;
          padding-left: 15%;
          padding-right: 15%;
          transition: all ease 0.8s; } }
      #Services .tz-gallery .thumbnai .box-title .titlepr {
        color: #ffffff;
        position: relative;
        top: 56%;
        line-height: 46px;
        font-weight: 300;
        height: auto;
        font-size: 31px;
        font-family: 'Open Sans', sans-serif; }
        @media (min-width: 1025px) {
          #Services .tz-gallery .thumbnai .box-title .titlepr {
            font-family: 'Roboto', sans-serif;
            font-size: 36px; } }
      #Services .tz-gallery .thumbnai .box-title .titlepr:after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 1.2px;
        left: 0%;
        bottom: -14px;
        transition: all .3s ease-in-out;
        transform: scaleX(0.3);
        background: #8ECE17; }
        @media (min-width: 1025px) {
          #Services .tz-gallery .thumbnai .box-title .titlepr:after {
            top: 134%; } }
      #Services .tz-gallery .thumbnai .box-title .box-text {
        position: relative;
        padding-top: 10%;
        padding-left: 4%;
        padding-right: 5%; }
        @media (min-width: 1025px) {
          #Services .tz-gallery .thumbnai .box-title .box-text {
            top: 365px;
            transition: all ease 1s; } }
        #Services .tz-gallery .thumbnai .box-title .box-text .text {
          display: block;
          text-align: center;
          height: auto;
          color: #ffffff;
          font-weight: 300;
          font-size: 15px;
          font-family: 'Roboto', sans-serif; }
          @media (min-width: 1025px) {
            #Services .tz-gallery .thumbnai .box-title .box-text .text {
              font-size: 18px;
              top: 26%;
              height: auto;
              line-height: 1.4; } }
  @media (min-width: 1025px) {
    #Services .tz-gallery .thumbnai:hover .box-info {
      transform: translateY(-100%);
      background: rgba(0, 43, 73, 0.62);
      visibility: initial; }
    #Services .tz-gallery .thumbnai:hover .box-title {
      bottom: 90%;
      z-index: 100; }
      #Services .tz-gallery .thumbnai:hover .box-title .box-text {
        top: 14px;
        transform: translateY(-6%); }
    #Services .tz-gallery .thumbnai:hover .titlepr:after {
      transform: scaleX(0.8); } }

#bottons-services .totalbottons {
  position: relative;
  top: 50%;
  width: 100%;
  background: #f7f9f9;
  height: 141px; }
  @media (min-width: 1025px) {
    #bottons-services .totalbottons {
      top: initial; } }
  #bottons-services .totalbottons .bottons {
    padding-left: 10%;
    padding-bottom: 12%;
    padding-top: 10%;
    width: 100%; }
    @media (min-width: 668px) and (max-width: 1024px) {
      #bottons-services .totalbottons .bottons {
        padding-left: 29%;
        padding-bottom: 0%;
        padding-top: 6%; } }
    @media (min-width: 1025px) {
      #bottons-services .totalbottons .bottons {
        padding-left: 36%;
        padding-top: 4%;
        padding-bottom: initial; } }
    #bottons-services .totalbottons .bottons .bottonleft {
      width: 200px;
      border: solid 1px rgba(142, 206, 23, 0.7);
      padding-right: 3.5%;
      padding-bottom: 2%;
      padding-left: 3.5%;
      padding-top: 2%;
      position: relative;
      text-decoration: none;
      color: #ffffff;
      background: rgba(142, 206, 23, 0.7);
      font-size: 14px;
      font-family: open_sansregular;
      text-transform: uppercase; }
      @media (min-width: 1025px) {
        #bottons-services .totalbottons .bottons .bottonleft {
          font-size: 18px;
          padding-bottom: 0.9%;
          padding-top: 0.9%; } }
    #bottons-services .totalbottons .bottons .bottonrigth {
      width: 200px;
      border: solid 1px rgba(142, 206, 23, 0.7);
      left: 8%;
      padding-right: 3.5%;
      padding-bottom: 2%;
      padding-left: 3.5%;
      padding-top: 2%;
      position: relative;
      text-decoration: none;
      color: #ffffff;
      background: rgba(142, 206, 23, 0.7);
      font-size: 14px;
      font-family: open_sansregular;
      text-transform: uppercase; }
      @media (min-width: 1025px) {
        #bottons-services .totalbottons .bottons .bottonrigth {
          font-size: 18px;
          padding-bottom: 0.9%;
          padding-top: 0.9%; } }
    #bottons-services .totalbottons .bottons .bottonleft:hover {
      border: solid 1px #8ECE17;
      background: #8ECE17; }
    #bottons-services .totalbottons .bottons .bottonrigth:hover {
      border: solid 1px #8ECE17;
      background: #8ECE17; }
