<div class="tab">
	<div class="contactenos">
		<button class="active" (click)="toogleHidden()">
			{{this.title_a}}
		</button>
	</div>
	<div class="trabaje">
		<button (click)="toogleHidden()">
			{{this.title_b}}
		</button>
	</div>
</div>
<br /><br />
<div class="container" [hidden]="hidden">
	<div class="row">
		<form id="formulario_contacto" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" class="col-md-12" name="formulario_contacto">
			<app-message [dataMessage]="dataMessage"></app-message>			

			<div class="form-group" [ngClass]="aplicaCssErro(nombre)" class="col-md-12">
				<div class="col-md-6 item">
					<label for="exampleInputNombre">Nombre</label>
					<input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" ngModel required #nombre="ngModel">
					<div *ngIf="nombre.invalid && nombre.touched" class="alert alert-danger" role="alert">
						Campo obligatorio o invalido
					</div>
				</div>
				<div class="col-md-6 item">
					<label for="exampleInputOrg">Organización</label>
					<input type="text" class="form-control" id="organizacion" placeholder="Organización" name="organizacion" ngModel
					 #organizacion="ngModel">
				</div>
			</div>
			<div class="form-group" class="col-md-12">
				<div class="col-md-6 item">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba su email"
					 name="correo_electronico" ngModel pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
					 #correo_electronico="ngModel">
					<div *ngIf="correo_electronico.invalid && correo_electronico.touched" class="alert alert-danger" role="alert">
						Campo obligatorio o invalido
					</div>
				</div>
				<div class="col-md-6 item">
					<label for="exampleInputTel">Telefono</label>
					<input type="tel" class="form-control" id="org" placeholder="Escriba su telefono" name="telefono" ngModel pattern="^(\([0-9]{3}\)|[0-9]{3})[0-9]{3}[0-9]{4}$"
					 #telefono="ngModel">
					<div *ngIf="telefono.invalid && telefono.touched" class="alert alert-danger" role="alert">
						Campo obligatorio o invalido
					</div>
				</div>
			</div>
			<div class="form-group" class="col-md-12">
				<div class="col-md-6 item">
					<label for="pais">Pais</label>					
					<ng-select class="select-autocomplete" id="pais" name="pais" placeholder="Seleccione su pais" [allowClear]="true" [items]="listPais" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
					 (removed)="removed($event)" (typed)="typed($event)">
					</ng-select>
				</div>
				<div class="col-md-6 item">
					<label for="ciudad">Ciudad</label>
					<input type="text" class="form-control" id="ciudad" placeholder="Ciudad" name="ciudad" ngModel #ciudad="ngModel">
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6 item">
					<label for="producto">Producto de interés</label>
					<ng-select class="select-autocomplete" id="productos_de_interes" name="productos_de_interes" placeholder="Seleccione un producto"
					 [allowClear]="true" [items]="listProduct" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
					 (removed)="removed($event)" (typed)="typed($event)">
					</ng-select>
				</div>
				<div class="col-md-6 item">
					<label for="servicio">Servicio de interés</label>
					<ng-select class="select-autocomplete" id="servicios_de_interes" name="servicios_de_interes" placeholder="Seleccione un servicio"
					 [allowClear]="true" [items]="listService" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
					 (removed)="removed($event)" (typed)="typed($event)">
					</ng-select>
				</div>
			</div>
			<div class="form-group" class="col-md-12 comentario">
				<label for="exampleInputComm">Comentarios</label>
				<textarea class="form-control" id="comentario" placeholder="Escriba sus comentarios" name="comentario" ngModel
				 #comentario="ngModel"></textarea>
				<div *ngIf="comentario.invalid && comentario.touched" class="alert alert-danger" role="alert">
					Campo obligatorio o invalido
				</div>
			</div>
			<div class="form-group" class="col-md-12 terminos_grupo">
				<input type="checkbox" checked="checked" id="terms-of-service" name="terms_of_service" value="false" ngModel
				 required>
				<label ng-reflect-ng-class="" for="terms-of-service">He leído y acepto los
					<a data-trigger="focus" role="button" data-toggle="popover" data-placement="top" href="#">
						términos y condiciones
					</a>
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
			<div class="obligatorios col-md-12"> <span>*</span>Datos Obligatorios</div>
		</form>
	</div>
</div>
<app-workus [hidden]="!hidden"></app-workus>
<div id='popover-title'>{{titulo}}</div>
<div id='popover-content' [innerHTML]='list'></div>