<section id="transition-image2">
    <picture>
        <source media="(max-width:500px)" [srcset]="backgroundImageMovil[0]?.url">
        <img class="w-100 backgraund-image" [src]="backgroundImage[0]?.url" alt="{{ backgroundImage[0]?.alt }}">
    </picture>
    <h1>{{ Alliance?.title }}</h1>
    <div class="list-image-item">
        <ul class="row">
            <li *ngFor="let Our of logosAlliance; let id = index">
                <picture>
                    <img id="slide-img2-{{ id }}" class="img-item2" src="{{ Our.url }}" alt="{{ Our.alt }}">
                </picture>
            </li>
        </ul>
    </div>
</section>