<section id="transition-image2">
    <picture *ngIf="allianceBackground">
        <source media="(max-width:500px)" [srcset]="allianceBackground.url">
        <img class="w-100 backgraund-image" [src]="allianceBackground.url" alt="{{ allianceBackground.title }}">
    </picture>
    <h1>{{ allianceTitle?.title }}</h1>
    <div class="list-image-item">
        <ul class="row">
            <li *ngFor="let our of allianceArrayLogos; let id = index">
                <picture>
                    <img id="slide-img2-{{ id }}" class="img-item2" [src]="our.field_alliance_image.url" [alt]="our.field_alliance_image.alt" >
                </picture>
            </li>
        </ul>
    </div>
</section>