<section id="title-gallery">
    <div class="title">
        <h1> {{ title }} </h1>
    </div>
</section>
<section id="gallery-images">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let ps of servicesProduct">
                <div class="thumbnai">
                    <div class="background">
                        <img class="images lightbox" [src]="ps.short_image.url" alt="{{ps.short_image.alt}}">
                    </div>
                    <div class="box-title">
                        <span class="titlepr">{{ ps.label }}</span>
                        <div class="box-text">
                            <span class="text" [innerHTML]="ps.description"></span>
                        </div>
                    </div>
                    <div class="box-info">
                        <div class="box-botton">
                            <a class="botton_products" [routerLink]="[ps.type, ps.nid]">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="bottons-services">
    <div class="totalbottons">
        <div class="bottons">
            <a class="bottonleft" [routerLink]="buttonL.link">{{ buttonL.label }}</a>
            <a class="bottonrigth" [routerLink]="buttonR.link">{{ buttonR.label }} </a>
        </div>
    </div>
</section>