@import './src/assets/scss/mixin.scss';

.page-header {
    height: 352px;
    overflow: hidden;

    .title {
        width: 100%;
        color: #FFFFFF;
        position: absolute;
        margin-top: 178px;
        text-align: center;

        h1 {
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            margin-left: 50%;
            font-size: 36px;
            transform: translateX(-50%);

            @include breakpoint(desktop) {
                font-size: 50px;
            }

            @include breakpoint(tablet) {
                font-size: 50px;
            }
        }
    }

    picture {
        .img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.page-header::before {
    content: "";
    background-color: #000000;
    opacity: 0.3;
    height: 352px;
    width: 100%;
    position: absolute;
}

#descrip-banner {
    p {
        color: #002b49cc;
        font-family: 'Open Sans Codensed';
        margin-top: 30px;
        font-size: 20px;
        overflow-wrap: break-word;

        @include breakpoint (desktop) {
            margin: auto;
            max-width: 800px;
            margin-top: 30px;
            text-align: center;
        }

        @include breakpoint (phone) {
            margin-right: 0;
            margin-left: 0;
        }
    }
}